.mission {
  width: 100%;
  background: #56aab7;
  padding: 150px 0 200px;
}
.mission-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.mission h1 {
  text-align: center;
  color: #F8F8F8;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: greyscale;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.mission h2 {
  text-transform: uppercase;
  width: 360px;
  line-height: 1.25em;
}

/* === SLIDES CONTENT === */
.mission-1 p {
  width: 350px;
}
.mission-1 .burk {
  position: absolute;
  bottom: 70px;
  right: 100px;
}

.mission-2 p {
  width: 360px;
}
.mission-2 .penna {
  position: absolute;
  right: 100px;
  bottom: 70px;
}

.mission-3 p {
  width: 360px;
}
.mission-3 .fridge {
  position: absolute;
  top: 170px;
  right: 140px;
}