
#fakta-kylskap {
	padding: 1400px 0 0;
	margin: 0;
	background: #65AAA7;
}
#fakta-kylskap .intro {
	color: #fff;
	-webkit-font-smoothing: antialiased;
	width: 620px;
}
#fakta-kylskap .intro p {
	font-size: 18px;
}
#fakta-kylskap .intro h1 {
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
.kyl-frys {
	background: url(../img/kylskap-oppet-utan-lador.svg);
	background-size: contain;
	height: 1758px;
	width: 1000px;
	margin: 200px auto 0;
	position: relative;
}
.kyl-frys #text-block-1 {
	background: #fff;
	padding: 40px;
	width: 40%;
	right: 40px;
	position: absolute;
	top: 41px;
	height: 359px;
	border-radius: 0 10px 10px 0;
	z-index: 1;
	color: #333;
}
.kyl-frys #text-block-2 {
	background: #fff;
	padding: 40px;
	width: 60%;
	right: 40px;
	position: absolute;
	top: 506px;
	border-radius: 0 10px 0 0;
	height: 274px;
	z-index: 1;
	color: #333;
}
.kyl-frys #text-block-3 {
	color: #333;
	background: #fff;
	padding: 40px 60px 40px 40px;
	width: 50%;
	right: 40px;
	position: absolute;
	top: 1084px;
	height: 270px;
	border-radius: 10px 0 0 10px;
	z-index: 1;
}
.kyl-frys #text-block-4 {
	color: #333;
	background: #fff;
	padding: 40px;
	width: 50%;
	right: 40px;
	position: absolute;
	z-index: 1;
	top: 1342px;
	height: 375px;
	border-radius: 0 0 10px 0;
	z-index: 1;
}
.kycklingklubba-1 {
	position: absolute;
	top: 1000px;
}
.kyl-frys #fruit-section-0 {
	position: absolute;
	top: 0;
	width: 1000px;
	left: 50%;
	margin-left: -500px;

}
.kyl-frys #fruit-section-0 #fryspase-rakor {
	top: 61px;
	position: absolute;
	left: 570px;
}
.kyl-frys #fruit-section-0 #fryspase-kotlett {
	top: 70px;
	position: absolute;
	left: 230px;
}
.kyl-frys #fruit-section-1 {
	position: absolute;
	top: 536px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}
.kyl-frys #fruit-section-1 #mjolk {
	position: relative;
	left: 220px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-1 #korv {
	position: relative;
	width: 280px;
	left: 190px;
	top: 19px;
}
.kyl-frys #fruit-section-1 #morot {
	position: relative;
	width: 70px;
	left: 190px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
	
}
.kyl-frys #fruit-section-1 #fisk-hel {
	position: relative;
	width: 240px;
	left: 210px;
	top: 55px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}

.kyl-frys #fruit-section-2 {
	position: absolute;
	top: 778px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}
.kyl-frys #fruit-section-2 #rodlok {
	position: relative;
	width: 90px;
	left: 190px;
	vertical-align: bottom;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-2 #creme-fraiche {
	position: relative;
	width: 130px;
	left: 250px;
	vertical-align: bottom;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-2 #apple {
	position: relative;
	width: 90px;
	left: 300px;
	vertical-align: bottom;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-2 #kotlett {
	position: relative;
	width: 220px;
	left: 370px;
	vertical-align: bottom;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-3 {
	position: absolute;
	top: 960px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}
.kyl-frys #fruit-section-3 #aubergine {
	position: relative;
	transform-origin: 50% 78%;
	-webkit-transform-origin:50% 78%;
	left: 340px;

}
.kyl-frys #fruit-section-3 #avokado {
	position: relative;
	vertical-align: bottom;
	left: 330px;
}
.kyl-frys #fruit-section-3 #lime {
	position: relative;
	vertical-align: bottom;
	left: 320px;
}
.kyl-frys #fruit-section-4 {
	position: absolute;
	top: 1280px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
}
.kyl-frys #fruit-section-4 #banan {
	position: relative;
	vertical-align: bottom;
	left: 102px;
	top: -63px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-4 #citron {
	position: relative;
	vertical-align: bottom;
	width: 110px;
	left: 80px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-4 #tomat {
	position: relative;
	vertical-align: bottom;
	left: 250px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #fruit-section-4 #gurka {
	position: relative;
	vertical-align: bottom;
	left: 180px;
	top: -3px;
	transform-origin: 50% 100%;
	-webkit-transform-origin:50% 100%;
}
.kyl-frys #lador {
	position: absolute;
	top: 1432px;
	left: 50%;
	margin-left: -306px;
}
.kyl-frys #lador img {
	width: 720px;
	position: relative;
}
.kyl-frys #tarmometer-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-top: -150px;
	margin-left: 420px;
	transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
	opacity: 0;
}
.kyl-frys #tarmometer-container.active {
	opacity: 1;
}
.kyl-frys #tarmometer-container #tarmometer {
	position: relative;
	float: right;
	z-index: 2;
}
.kyl-frys #tarmometer-container #cirkel {
	width: 40px;
	height: 40px;
	border-radius: 1000px;
	background: #277FB9;
	position: absolute;
	bottom: 3px;
	right: 1px;
	z-index: 1;
	transition: all .7s;
	-webkit-transition:all .7s;
}
.kyl-frys #tarmometer-container #cirkel.step-1 {
	background: #E74D3C;
}
.kyl-frys #tarmometer-container #stroke {
	width: 10px;
	height: 32%;
	background: #277FB9;
	position: absolute;
	bottom: 3px;
	right: 16px;
	z-index: 1;
	transition: all .7s;
	-webkit-transition:all .7s;
}
.kyl-frys #tarmometer-container #stroke.step-1 {
	height: 56%;
	background: #E74D3C;
}
.kyl-frys #tarmometer-container #stroke.step-2 {
	height: 64%;
	background: #E74D3C;
}
.kyl-frys #tarmometer-container #stroke.step-3 {
	height: 70%;
	background: #E74D3C;
}

.kyl-frys .fridge-examples {
	font-size: 12px;
	-webkit-font-smoothing: subpixel-antialiased;
}
.kyl-frys .fridge-examples strong {
	font-size: 11px;
	font-weight: bold;
}