.mission {
  width: 100%;
  background: #51B07A;
  padding: 150px 0 200px;
}
.mission-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.mission h1 {
  text-align: center;
  color: #F8F8F8;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: greyscale;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.mission h2 {
  text-transform: uppercase;
  width: 360px;
  line-height: 1.25em;
}


/* SLIDESHOW OVERRIDES */
.slideshow .slides article {
  background: #62B987;
}
.slideshow .slides h3 {
  background: #51B07A;
}
.slideshow .nav {
  border-color: transparent #62B987 transparent transparent;
}
.slideshow .nav-arrow {
  border-color: transparent #99D1B1 transparent transparent;
}

.slideshow .nav.nav-right {
  border-color: transparent transparent transparent #62B987;
}
.slideshow .nav-right .nav-arrow {
  border-color: transparent transparent transparent #99D1B1;
}

.slideshow p {
  font-size: 16px;
  line-height: 1.5em;
}


/* === SLIDES CONTENT === */
.mission-1 p {
  width: 360px;
}
.mission-1 .man {
  position: absolute;
  bottom: 0;
  right: 70px;
}
.mission-1 .apple {
  position: absolute;
  bottom: 50px;
  right: 430px;
}
.mission-1 .gum {
  position: absolute;
  bottom: 257px;
  right: 304px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.mission-1 .gum-piece {
  position: absolute;
  top: 184px;
  right: 334px;
}
.mission-1 .notebook {
  position: absolute;
  bottom: 200px;
  right: 400px;
}

.mission-2 p {
  width: 500px;
}
.mission-2 .scale {
  position: absolute;
  right: 100px;
  bottom: 0;
}
.mission-2 .clock {
  position: absolute;
  right: 100px;
  top: 100px;
}
.mission-2 .temp {
  position: absolute;
  top: 80px;
  right: 240px;
}

.mission-3 p {
  width: 380px;
}
.mission-3 .micro {
  position: absolute;
  top: 170px;
  right: 170px;
}