.timeline {
	position: relative;
	width: 100%;
	height: 100%;
	background: #9FCDC3;
	overflow: hidden;
	margin-bottom: 320px;
	/*
	#timeline-bg {
		height: 100%;
		width: 10402px;
		.bg {
			position: absolute;
			left: 0;
			bottom: 0;
			border-bottom: 40px solid #645747;
			z-index: 1;
		}
	}
	*/
}

.bot {
	width: 100%;
	height: 2000px;
	background: #645747;
}

#bg-clouds {
	margin-top: 100px;
}

// PART 1
// ======

.stamp {
	position: absolute;
	right: -100%;
	bottom: 0;
	width: 1000px;
	height: 700px;
	//border: 1px dashed rgba(0,0,0,.1);
	margin-right: -500px;
}

#stamp-1 {
	right: 50%;
}

.textbox {
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
	position: absolute;
	width: 440px;
	
	z-index: 3;
	padding: 20px;
	border-radius: 3px;
	line-height: 22px;
	opacity: 0;
	&.box-bot {
		background: rgba(255,255,255,.1);
		color: rgba(255,255,255,.85);
	}
	&.box-top {
		color: rgba(255,255,255,.85);
		background: rgba(255,255,255,.15);
	}
}

#sign-1, #sign-2, #sign-3, #sign-4 {
	position: absolute;
	left: 0;
	bottom: 215px;
	z-index: 1;
}

#pig {
	position: absolute;
	left: 50%;
	bottom: 214px;
	z-index: 1;
	margin-left: -370px;
}
#tl-bg-2 {
	position: absolute;
	right: 50%;
	margin-right: -500px;
	z-index: 1;
	bottom: 214px;
}




#house-1 {
	position: absolute;
	left: 0;
	bottom: 0;
}
#house-2 {
	position: absolute;
	left: 215px;
	bottom: 0;
}
#house-3 {
	position: absolute;
	left: 450px;
	bottom: 0;
}
#dirtpile {
	position: absolute;
	right: 0;
	bottom: 0;
}

#stamp-1 {
	#tl-text-01 {
		bottom: 460px;
		left: 100px;
		opacity: 1;
	}
	#tl-text-02 {
		right: 60px;
		bottom: 40px;
		opacity: 1;
	}
}

#tl-text-2 {
	right: 60px;
	bottom: -60px;
}
#tl-text-1 {
	bottom: 560px;
	left: 100px;
}

#stamp-2 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}
}

// PART 3
// ======
.stamp-3 {
	.bg-1 {
		position: absolute;
		left: 70px;
		bottom: 215px;
	}
	.bg-2 {
		position: absolute;
		right: 0;
		bottom: 200px;
	}
	#house-4 {
		position: absolute;
		right: 580px;
		bottom: 0px;
	}
	#house-5 {
		position: absolute;
		right: 380px;
		bottom: 0;
	}
	#house-6 {
		position: absolute;
		right: 190px;
		bottom: 0;
	}
	#house-7 {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#house-8 {
		position: absolute;
		right: 454px;
		bottom: 0;
	}
	#house-9 {
		position: absolute;
		right: 258px;
		bottom: 0;
	}
	#house-10 {
		position: absolute;
		right: 64px;
		bottom: 0;
	}

	#tl-text-5 {
		right: 60px;
		bottom: -60px;
		width: 360px;
	}
	#tl-text-4 {
		right: 460px;
		bottom: -60px;
	}
	#tl-text-3 {
		bottom: 620px;
		left: 60px;
	}
}


// PART 4
// ======
#stamp-4 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}

	#outhouse {
		position: absolute;
		left: 160px;
		bottom: 0;
	}
	#flies-1 {
		position: absolute;
		bottom: 0;
		left: 80px;
	}
	#flies-2 {
		position: absolute;
		bottom: 0;
		left: 260px;
	}

	#factory-1950 {
		position: absolute;
		right: 120px;
		bottom: -20px;
	}
	#factory-silo1 {
		position: absolute;
		right: 0;
		bottom: -20px;
	}
	#factory-silo2 {
		position: absolute;
		right: 80px;
		bottom: -20px;
	}

	#tl-text-6 {
		bottom: 590px;
		left: 60px;
	}
	#tl-text-7 {
		bottom: -40px;
		left: 500px;
	}
}

// PART 5
// ======
#stamp-5 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}
	#trash-glass {
		position: absolute;
		left: 250px;
		bottom: 0;
	}
	#trash-metal {
		position: absolute;
		left: 480px;
		bottom: 0;
	}
	#trash-food {
		position: absolute;
		left: 690px;
		bottom: 0;
	}

	#tl-text-8 {
		bottom: 590px;
		left: 60px;
		width: 300px;
	}
	#tl-text-9 {
		bottom: -40px;
		left: 500px;
	}
}

// PART 6
// ======
#stamp-6 {
	.bg-1 {
		position: absolute;
		right: 70px;
		bottom: 215px;
	}
	.bg-2 {
		position: absolute;
		left: 140px;
		bottom: 200px;
	}

	#foodstore {
		position: absolute;
		left: 200px;
		bottom: 0;
	}
	#house-11 {
		position: absolute;
		right: 290px;
		bottom: -80px;
	}
	#restaurant {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	#bush-1 {
		position: absolute;
		right: 260px;
		bottom: 0;
	}
	#bush-2 {
		position: absolute;
		right: 316px;
		bottom: 0;
	}

	#tl-text-10 {
		bottom: 550px;
		left: 60px;
		width: 340px;
	}
}

// PART 7
// ======
#stamp-7 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}

	#flag {
		position: absolute;
		left: 0;
		bottom: -200px;
	}
	#fuelpump {
		position: absolute;
		left: 60px;
		bottom: 0;
	}
	#lorry-exhaust {
		position: absolute;
		left: 220px;
		bottom: 0;
	}
	#lorry {
		position: absolute;
		left: 330px;
		bottom: 0;
	}

	#trees {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#tl-text-11 {
		bottom: -40px;
		left: 60px;
	}
}

.dirt {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 218px;
	background: #625747;
	z-index: 2;
}

.thegrid {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 1000px;
	height: 700px;
	border: 1px dashed #FFF;
	border-bottom: none;
	margin: 0 0 0 -500px;
}