.timeline {
	position: relative;
	width: 100%;
	height: 100%;
	background: #9FCDC3;
	overflow: hidden;
	/*
	#timeline-bg {
		height: 100%;
		width: 10402px;
		.bg {
			position: absolute;
			left: 0;
			bottom: 0;
			border-bottom: 40px solid #645747;
			z-index: 1;
		}
	}
	*/
}

.bot {
	width: 100%;
	height: 2000px;
	background: #645747;
}

#bg-clouds {
	margin-top: 100px;
}
#bg-silhouette {
	position: absolute;
	left: 0;
	bottom: 170px;
}

// PART 1
// ======

.stamp {
	position: absolute;
	right: -100%;
	bottom: 0;
	width: 1000px;
	height: 700px;
	//border: 1px dashed rgba(0,0,0,.1);
	margin-right: -500px;
}

#stamp-1 {
	right: 50%;
}

.textbox {
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	width: 440px;
	
	z-index: 3;
	padding: 20px;
	border-radius: 3px;
	line-height: 22px;
	//opacity: 0;
	&.box-bot {
		background: rgba(255,255,255,.1);
		color: rgba(255,255,255,.85);
	}
	&.box-top {
		color: rgba(255,255,255,.85);
		background: rgba(255,255,255,.15);
	}
}

#sign-1, #sign-2, #sign-3, #sign-4 {
	position: absolute;
	left: 0;
	bottom: 215px;
	z-index: 1;
}

.veggie-box {
	position: absolute;
	left: 100px;
	bottom: 164px;
	width: 180px;
	height: 100px;
	z-index: 3;
	.apple-1 {
		position: absolute;
		top: 10px;
		left: 10px;
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
		-webkit-animation: 10s eatApple1 infinite;
		animation: 10s eatApple1 infinite;
	}
	.apple-2 {
		position: absolute;
		right: 40px;
		bottom: 10px;
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
		-webkit-animation: 10s eatApple2 infinite;
		animation: 10s eatApple2 infinite;
	}

	.tomato1 {
		position: absolute;
		left: 0;
		bottom: -10px;
		-webkit-transform: rotate(100deg);
		transform: rotate(100deg);
		-webkit-animation: 10s eatTomato1 infinite;
		animation: 10s eatTomato1 infinite;
	}
	.tomato2 {
		position: absolute;
		left: 54px;
		top: 20px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-animation: 10s eatTomato2 infinite;
		animation: 10s eatTomato2 infinite;
	}

	.carrot1 {
		position: absolute;
		left: 54px;
		bottom: -4px;
		-webkit-transform: rotate(-90deg);
		ransform: rotate(-90deg);
		-webkit-animation: 10s eatCarrot2 infinite;
		animation: 10s eatCarrot2 infinite;
	}
	.carrot2 {
		position: absolute;
		top: 10px;
		right: 0;
		-webkit-animation: 10s eatCarrot1 infinite;
		animation: 10s eatCarrot1 infinite;
	}
}

@-webkit-keyframes eatApple1 {
	0%, 10%, 35%, 100% {
		-webkit-transform: scale(0.5) rotate(30deg);
		opacity: 0;
	}
	17%, 30% {
		-webkit-transform: scale(1) rotate(30deg);
		opacity: 1;
	}
}
@keyframes eatApple1 {
	0%, 10%, 35%, 100% {
		transform: scale(0.5) rotate(30deg);
		opacity: 0;
	}
	17%, 30% {
		transform: scale(1) rotate(30deg);
		opacity: 1;
	}
}

@-webkit-keyframes eatCarrot1 {
	0%, 11%, 40%, 100% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	18%, 35% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes eatCarrot1 {
	0%, 11%, 40%, 100% {
		transform: scale(0.5);
		opacity: 0;
	}
	18%, 35% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes eatTomato1 {
	0%, 12%, 45%, 100% {
		-webkit-transform: scale(0.5) rotate(100deg);
		opacity: 0;
	}
	19%, 40% {
		-webkit-transform: scale(1) rotate(100deg);
		opacity: 1;
	}
}
@keyframes eatTomato1 {
	0%, 12%, 45%, 100% {
		transform: scale(0.5) rotate(100deg);
		opacity: 0;
	}
	19%, 40% {
		transform: scale(1) rotate(100deg);
		opacity: 1;
	}
}

@-webkit-keyframes eatApple2 {
	0%, 13%, 50%, 100% {
		-webkit-transform: scale(0.5) rotate(-10deg);
		opacity: 0;
	}
	20%, 45% {
		-webkit-transform: scale(1) rotate(-10deg);
		opacity: 1;
	}
}
@keyframes eatApple2 {
	0%, 13%, 50%, 100% {
		transform: scale(0.5) rotate(-10deg);
		opacity: 0;
	}
	20%, 45% {
		transform: scale(1) rotate(-10deg);
		opacity: 1;
	}
}

@-webkit-keyframes eatCarrot2 {
	0%, 14%, 55%, 100% {
		-webkit-transform: scale(0.5) rotate(-90deg);
		opacity: 0;
	}
	21%, 50% {
		-webkit-transform: scale(1) rotate(-90deg);
		opacity: 1;
	}
}
@keyframes eatCarrot2 {
	0%, 14%, 55%, 100% {
		transform: scale(0.5) rotate(-90deg);
		opacity: 0;
	}
	21%, 50% {
		transform: scale(1) rotate(-90deg);
		opacity: 1;
	}
}

@-webkit-keyframes eatTomato2 {
	0%, 15%, 60%, 100% {
		-webkit-transform: scale(0.5) rotate(-90deg);
		opacity: 0;
	}
	23%, 55% {
		-webkit-transform: scale(1) rotate(-90deg);
		opacity: 1;
	}
}
@keyframes eatTomato2 {
	0%, 15%, 60%, 100% {
		transform: scale(0.5) rotate(-90deg);
		opacity: 0;
	}
	23%, 55% {
		transform: scale(1) rotate(-90deg);
		opacity: 1;
	}
}


#pig {
	position: absolute;
	left: 300px;
	bottom: 214px;
	z-index: 1;
	width: 220px;
	height: 128px;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	.box {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 209px;
		height: 100px;
		overflow: hidden;
	}
	.stomach {
		position: absolute;
		top: -80px;
		left: 0;
		width: 170px;
		height: 160px;
		background: #F3E0EA;
		border-radius: 100%;
		-webkit-animation: 10s expandStomach infinite;
		animation: 10s expandStomach infinite;
	}
	.face {
		position: absolute;
		top: -10px;
		left: 30px;
	}
	.chew {
		position: absolute;
		top: 50px;
		left: 10px;
		width: 30px;
		height: 30px;
		background: #F3E0EA;
		border-radius: 100%;
		-webkit-animation: 10s chewFood infinite;
		animation: 10s chewFood infinite;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@-webkit-keyframes expandStomach {
	0%, 80%, 100% {
		-webkit-transform: scale(1);
	}
	20%, 30% {
		-webkit-transform: scale(0.75);
	}
}
@keyframes expandStomach {
	0%, 80%, 100% {
		transform: scale(1);
	}
	20%, 30% {
		transform: scale(0.75);
	}
}

@-webkit-keyframes chewFood {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 100% {
		-webkit-transform: scale(0) translateX(0);
	}
	25%, 35%, 45%, 55%, 65% {
		-webkit-transform: scale(1) translateX(10px);
	}
}
@keyframes chewFood {
	0%, 20%, 30%, 40%, 50%, 60%, 70%, 100% {
		transform: scale(0) translateX(0);
	}
	25%, 35%, 45%, 55%, 65% {
		transform: scale(1) translateX(10px);
	}
}

.poop {
	position: absolute;
	left: 500px;
	bottom: 217px;
	height: 150px;
	width: 250px;
	.circle {
		position: absolute;
		top: 60px;
		left: -20px;
		width: 16px;
		height: 16px;
		background: #625747;
		border-radius: 8px;
	}
	.circle-1 {
		-webkit-animation: poop1 10s infinite linear;
		animation: poop1 10s infinite linear;
	}
	.circle-2 {
		-webkit-animation: poop2 10s infinite linear;
		animation: poop2 10s infinite linear;
	}
	.circle-3 {
		-webkit-animation: poop3 10s infinite linear;
		animation: poop3 10s infinite linear;
	}
	.circle-4 {
		-webkit-animation: poop4 10s infinite linear;
		animation: poop4 10s infinite linear;
	}
}


@-webkit-keyframes poop1 {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	4% {
		-webkit-transform: translate3d(70px,0,0) rotate(72deg);
	}
	6% {
		-webkit-transform: translate3d(93px,10px,0) rotate(108deg);
	}
	8% {
		-webkit-transform: translate3d(109px,30px,0) rotate(144deg);
	}
	10% {
		-webkit-transform: translate3d(118px,60px,0) rotate(180deg);
	}
	12%, 20% {
		-webkit-transform: translate3d(120px,80px,0) rotate(180deg);
		width: 60px;
	}
	30% {
		-webkit-transform: translate3d(100px,90px,0) rotate(180deg);
		width: 100px;
	}
	100% {
		-webkit-transform: translate3d(100px,90px,0) rotate(180deg);
		width: 16px;
	}
}
@keyframes poop1 {
	0% {
		transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	4% {
		transform: translate3d(70px,0,0) rotate(72deg);
	}
	6% {
		transform: translate3d(93px,10px,0) rotate(108deg);
	}
	8% {
		transform: translate3d(109px,30px,0) rotate(144deg);
	}
	10% {
		transform: translate3d(118px,60px,0) rotate(180deg);
	}
	12%, 20% {
		transform: translate3d(120px,80px,0) rotate(180deg);
		width: 60px;
	}
	30% {
		transform: translate3d(100px,90px,0) rotate(180deg);
		width: 100px;
	}
	100% {
		transform: translate3d(100px,90px,0) rotate(180deg);
		width: 16px;
	}
}

@-webkit-keyframes poop2 {
	0%, 2% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	6% {
		-webkit-transform: translate3d(74px,-10px,0) rotate(72deg);
	}
	8% {
		-webkit-transform: translate3d(97px,10px,0) rotate(108deg);
	}
	10% {
		-webkit-transform: translate3d(113px,30px,0) rotate(144deg);
	}
	12% {
		-webkit-transform: translate3d(122px,60px,0) rotate(180deg);
	}
	14%, 20% {
		-webkit-transform: translate3d(124px,70px,0) rotate(180deg);
		width: 48px;
	}
	30% {
		-webkit-transform: translate3d(104px,90px,0) rotate(180deg);
		width: 88px;
	}
	100% {
		-webkit-transform: translate3d(104px,90px,0) rotate(180deg);
		width: 16px;
	}
}
@keyframes poop2 {
	0%, 2% {
		transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	6% {
		transform: translate3d(74px,-10px,0) rotate(72deg);
	}
	8% {
		transform: translate3d(97px,10px,0) rotate(108deg);
	}
	10% {
		transform: translate3d(113px,30px,0) rotate(144deg);
	}
	12% {
		transform: translate3d(122px,60px,0) rotate(180deg);
	}
	14%, 20% {
		transform: translate3d(124px,70px,0) rotate(180deg);
		width: 48px;
	}
	30% {
		transform: translate3d(104px,90px,0) rotate(180deg);
		width: 88px;
	}
	100% {
		transform: translate3d(104px,90px,0) rotate(180deg);
		width: 16px;
	}
}

@-webkit-keyframes poop3 {
	0%, 4% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	8% {
		-webkit-transform: translate3d(83px,0,0) rotate(72deg);
	}
	10% {
		-webkit-transform: translate3d(106px,10px,0) rotate(108deg);
	}
	12% {
		-webkit-transform: translate3d(122px,30px,0) rotate(144deg);
	}
	14%, 20% {
		-webkit-transform: translate3d(135px,60px,0) rotate(180deg);
		width: 32px;
	}
	30% {
		-webkit-transform: translate3d(115px,100px,0) rotate(180deg);
		width: 72px;
	}
	100% {
		-webkit-transform: translate3d(115px,100px,0) rotate(180deg);
		width: 16px;
	}
}
@keyframes poop3 {
	0%, 4% {
		transform: translate3d(0,0,0) rotate(0deg);
		width: 16px;
	}
	8% {
		transform: translate3d(83px,0,0) rotate(72deg);
	}
	10% {
		transform: translate3d(106px,10px,0) rotate(108deg);
	}
	12% {
		transform: translate3d(122px,30px,0) rotate(144deg);
	}
	14%, 20% {
		transform: translate3d(135px,60px,0) rotate(180deg);
		width: 32px;
	}
	30% {
		transform: translate3d(115px,100px,0) rotate(180deg);
		width: 72px;
	}
	100% {
		transform: translate3d(115px,100px,0) rotate(180deg);
		width: 16px;
	}
}

@-webkit-keyframes poop4 {
	0%, 6% {
		-webkit-transform: translate3d(0,0,0);
		width: 16px;
	}
	10% {
		-webkit-transform: translate3d(92px,0,0);
	}
	12% {
		-webkit-transform: translate3d(115px,10px,0);
	}
	14% {
		-webkit-transform: translate3d(134px,30px,0);
	}
	16%, 20% {
		-webkit-transform: translate3d(142px,50px,0);
		width: 16px;
	}
	30% {
		-webkit-transform: translate3d(122px,110px,0);
		width: 56px;
	}
	100% {
		-webkit-transform: translate3d(122px,110px,0);
		width: 16px;
	}
}
@keyframes poop4 {
	0%, 6% {
		transform: translate3d(0,0,0);
		width: 16px;
	}
	10% {
		transform: translate3d(92px,0,0);
	}
	12% {
		transform: translate3d(115px,10px,0);
	}
	14% {
		transform: translate3d(134px,30px,0);
	}
	16%, 20% {
		transform: translate3d(142px,50px,0);
		width: 16px;
	}
	30% {
		transform: translate3d(122px,110px,0);
		width: 56px;
	}
	100% {
		transform: translate3d(122px,110px,0);
		width: 16px;
	}
}

.tomato-bush {
	position: absolute;
	bottom: 100px;
	left: 610px;
	width: 140px;
	height: 101px;
	-webkit-animation: 10s growTomatoes infinite;
	animation: 10s growTomatoes infinite;
	.foliage {
		position: absolute;
		top: 0;
		left: 0;
	}
	.tomato {
		position: absolute;
		opacity: 0;
		-webkit-transform-origin: top center;
		transform-origin: top center;
	}
	.tomato-1 {
		top: 26px;
		left: 40px;
		-webkit-animation: 10s showTomatoes infinite;
		animation: 10s showTomatoes infinite;
	}
	.tomato-2 {
		top: 40px;
		right: 30px;
		-webkit-animation: 10s 0.2s showTomatoes infinite;
		animation: 10s 0.2s showTomatoes infinite;
	}
	.tomato-3 {
		top: 50px;
		left: 28px;
		-webkit-animation: 10s 0.4s showTomatoes infinite;
		animation: 10s 0.4s showTomatoes infinite;
	}
}

@-webkit-keyframes growTomatoes {
	0%, 30%, 100% {
		-webkit-transform: translateY(0);
	}
	40%, 90% {
		-webkit-transform: translateY(-100px);
	}
}
@keyframes growTomatoes {
	0%, 30%, 100% {
		transform: translateY(0);
	}
	40%, 90% {
		transform: translateY(-100px);
	}
}

@-webkit-keyframes showTomatoes {
	0%, 34% {
		-webkit-transform: scale(0) translateY(0) rotate(-40deg);
		opacity: 0;
	}
	39% {
		-webkit-transform: scale(1) translateY(6px) rotate(9deg);
		opacity: 1;
	}
	41% {
		-webkit-transform: scale(1) translateY(6px) rotate(-7deg);
		opacity: 1;
	}
	43% {
		-webkit-transform: scale(1) translateY(6px) rotate(5deg);
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(1) translateY(6px) rotate(-3deg);
		opacity: 1;
	}
	47% {
		-webkit-transform: scale(1) translateY(6px) rotate(1deg);
		opacity: 1;
	}
	49%, 80% {
		-webkit-transform: scale(1) translateY(6px) rotate(0);
		opacity: 1;
	}
	83%, 100% {
		-webkit-transform: scale(1) translateY(6px) rotate(0);
		opacity: 0;
	}
}
@keyframes showTomatoes {
	0%, 34% {
		transform: scale(0) translateY(0) rotate(-40deg);
		opacity: 0;
	}
	39% {
		transform: scale(1) translateY(6px) rotate(9deg);
		opacity: 1;
	}
	41% {
		transform: scale(1) translateY(6px) rotate(-7deg);
		opacity: 1;
	}
	43% {
		transform: scale(1) translateY(6px) rotate(5deg);
		opacity: 1;
	}
	45% {
		transform: scale(1) translateY(6px) rotate(-3deg);
		opacity: 1;
	}
	47% {
		transform: scale(1) translateY(6px) rotate(1deg);
		opacity: 1;
	}
	49%, 80% {
		transform: scale(1) translateY(6px) rotate(0);
		opacity: 1;
	}
	83%, 100% {
		transform: scale(1) translateY(6px) rotate(0);
		opacity: 0;
	}
}

.pear-tree {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-animation: 10s growPearTree infinite;
	animation: 10s growPearTree infinite;
	position: absolute;
	left: 740px;
	bottom: 217px;
	height: 72px;
	.foliage {
		position: relative;
		z-index: 1;
	}
	.apple {
		position: absolute;
		z-index: 2;
		opacity: 1;
		-webkit-animation: 10s showPears infinite;
		animation: 10s showPears infinite;
	}
	.apple-1 {
		top: 70px;
		left: 24px;
	}
	.apple-2 {
		top: 46px;
		right: 24px;
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
	.apple-3 {
		top: 92px;
		right: 58px;
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	.apple-4 {
		top: 6px;
		right: 96px;
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	.stem {
		position: absolute;
		top: 10px;
		left: 50%;
		bottom: 0;
		width: 20px;
		margin-left: -10px;
		border-right: 10px solid #B08048;
		background: #905F37;
	}
}

@-webkit-keyframes growPearTree {
	0%, 31%, 100% {
		opacity: 0;
		-webkit-transform: scale(0);
		height: 72px;
	}
	41%, 90% {
		opacity: 1;
		-webkit-transform: scale(1);
		height: 250px;
	}
}
@keyframes growPearTree {
	0%, 31%, 100% {
		opacity: 0;
		transform: scale(0);
		height: 72px;
	}
	41%, 90% {
		opacity: 1;
		transform: scale(1);
		height: 250px;
	}
}

@-webkit-keyframes showPears {
	0%, 38% {
		-webkit-transform: scale(0) translateY(0) rotate(-40deg);
		opacity: 0;
	}
	43% {
		-webkit-transform: scale(1) translateY(12px) rotate(9deg);
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(1) translateY(12px) rotate(-7deg);
		opacity: 1;
	}
	47% {
		-webkit-transform: scale(1) translateY(12px) rotate(5deg);
		opacity: 1;
	}
	49% {
		-webkit-transform: scale(1) translateY(12px) rotate(-3deg);
		opacity: 1;
	}
	51% {
		-webkit-transform: scale(1) translateY(12px) rotate(1deg);
		opacity: 1;
	}
	53%, 80% {
		-webkit-transform: scale(1) translateY(12px) rotate(0);
		opacity: 1;
	}
	83%, 100% {
		-webkit-transform: scale(1) translateY(12px) rotate(0);
		opacity: 0;
	}
}
@keyframes showPears {
	0%, 38% {
		transform: scale(0) translateY(0) rotate(-40deg);
		opacity: 0;
	}
	43% {
		transform: scale(1) translateY(12px) rotate(9deg);
		opacity: 1;
	}
	45% {
		transform: scale(1) translateY(12px) rotate(-7deg);
		opacity: 1;
	}
	47% {
		transform: scale(1) translateY(12px) rotate(5deg);
		opacity: 1;
	}
	49% {
		transform: scale(1) translateY(12px) rotate(-3deg);
		opacity: 1;
	}
	51% {
		transform: scale(1) translateY(12px) rotate(1deg);
		opacity: 1;
	}
	53%, 80% {
		transform: scale(1) translateY(12px) rotate(0);
		opacity: 1;
	}
	83%, 100% {
		transform: scale(1) translateY(12px) rotate(0);
		opacity: 0;
	}
}

.carrot-1 {
	position: absolute;
	bottom: 120px;
	right: 20px;
	-webkit-animation: 10s carrotPop1 infinite;
	animation: 10s carrotPop1 infinite;
}
.carrot-2 {
	position: absolute;
	bottom: 114px;
	right: 66px;
	-webkit-animation: 10s 0.2s carrotPop1 infinite;
	animation: 10s 0.2s carrotPop1 infinite;
}
@-webkit-keyframes carrotPop1 {
	0%, 35%, 95%, 100% {
		-webkit-transform: scale(0) translateY(0);
	}
	45%, 85% {
		-webkit-transform: scale(1) translateY(-60px);
	}
}
@keyframes carrotPop1 {
	0%, 35%, 95%, 100% {
		transform: scale(0) translateY(0);
	}
	45%, 85% {
		transform: scale(1) translateY(-60px);
	}
}


#tl-bg-2 {
	position: absolute;
	right: 50%;
	margin-right: -500px;
	z-index: 1;
	bottom: 214px;
}

.timeline {
	#tl-bg-1,
	#tl-bg-2,
	#tl-bg-3,
	#tl-bg-4,
	#tl-bg-5,
	#tl-bg-6,
	.bg-1,
	.bg-2 {
		display: none;
	}
}

#house-1 {
	position: absolute;
	left: 0;
	bottom: 0;
}
#house-2 {
	position: absolute;
	left: 215px;
	bottom: 0;
}
#house-3 {
	position: absolute;
	left: 450px;
	bottom: 0;
}
#dirtpile {
	position: absolute;
	right: 0;
	bottom: 85px;
	-webkit-animation: 10s 7s bigWaste forwards infinite;
	animation: 10s 7s bigWaste forwards infinite;
	z-index: 4;
	-webkit-transform: scale(0);
	transform: scale(0);
}
#dirtpile-base {
	position: absolute;
	left: 0;
	bottom: -54px;
	-webkit-animation: 10s 2s wasteUp forwards infinite;
	animation: 10s 2s wasteUp forwards infinite;
}
#dirtpile-small-1 {
	position: absolute;
	left: 90px;
	bottom: -40px;
	-webkit-animation: 10s 2s wasteUpSmall forwards infinite;
	animation: 10s 2s wasteUpSmall forwards infinite;
}
#dirtpile-small-2 {
	position: absolute;
	left: 270px;
	bottom: -40px;
	-webkit-animation: 10s 2s wasteUpSmall2 forwards infinite;
	animation: 10s 2s wasteUpSmall2 forwards infinite;
}
#dirtpile-small-3 {
	position: absolute;
	left: 436px;
	bottom: -40px;
	-webkit-animation: 10s 2s wasteUpSmall3 forwards infinite;
	animation: 10s 2s wasteUpSmall3 forwards infinite;
}
#waste-small {
	position: absolute;
	left: 14px;
	top: 4px;
	z-index: 2;
	opacity: 0;
	-webkit-animation: 10s 2s wasteUpAlt forwards infinite;
	animation: 10s 2s wasteUpAlt forwards infinite;
}
#waste-large {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0;
	-webkit-animation: 10s 2s wasteUpAlt2 infinite;
	animation: 10s 2s wasteUpAlt2 infinite;
}


.dirt-below {
	position: absolute;
	width: 780px;
	height: 60px;
	left: -30px;
	bottom: 200px;
	overflow: hidden;
}

.dirt-above {
	position: absolute;
	width: 780px;
	height: 60px;
	left: 0;
	bottom: 200px;
	overflow: hidden;
	z-index: 3;
}

.dirt-mover {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-animation: 10s 2s moveWaste infinite;
	animation: 10s 2s moveWaste infinite;
}

.dirt-cover {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px;
	background: #625747;
	z-index: 4;
}

@-webkit-keyframes bigWaste {
	0%, 17% {
		-webkit-transform: translateY(0) scale(0);
		opacity: 1;
	}
	30%, 55% {
		-webkit-transform: translateY(-100px) scale(1);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: translateY(-100px) scale(1);
		opacity: 0;
	}
}
@keyframes bigWaste {
	0%, 17% {
		transform: translateY(0) scale(0);
		opacity: 1;
	}
	30%, 55% {
		transform: translateY(-100px) scale(1);
		opacity: 1;
	}
	90%, 100% {
		transform: translateY(-100px) scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes wasteUp {
	0%, 100% {
		-webkit-transform: translateY(0);
	}
	20%, 80% {
		-webkit-transform: translateY(-40px);
	}
}
@keyframes wasteUp {
	0%, 100% {
		transform: translateY(0);
	}
	20%, 80% {
		transform: translateY(-40px);
	}
}

@-webkit-keyframes wasteUpSmall {
	0%, 10% {
		-webkit-transform: translateY(0);
	}
	20%, 95% {
		-webkit-transform: translateY(-40px);
	}
}
@keyframes wasteUpSmall {
	0%, 10% {
		transform: translateY(0);
	}
	20%, 95% {
		transform: translateY(-40px);
	}
}

@-webkit-keyframes wasteUpSmall2 {
	0%, 12% {
		-webkit-transform: translateY(0);
	}
	20%, 95% {
		-webkit-transform: translateY(-40px);
	}
}
@keyframes wasteUpSmall2 {
	0%, 12% {
		transform: translateY(0);
	}
	20%, 95% {
		transform: translateY(-40px);
	}
}

@-webkit-keyframes wasteUpSmall3 {
	0%, 14% {
		-webkit-transform: translateY(0);
	}
	20%, 95% {
		-webkit-transform: translateY(-40px);
	}
}
@keyframes wasteUpSmall3 {
	0%, 14% {
		-webkit-transform: translateY(0);
	}
	20%, 95% {
		-webkit-transform: translateY(-40px);
	}
}

@-webkit-keyframes wasteUpAlt {
	0%, 45%, 100% {
		opacity: 0;
	}
	55%, 95% {
		opacity: 1;
	}
}
@keyframes wasteUpAlt {
	0%, 45%, 100% {
		opacity: 0;
	}
	55%, 95% {
		opacity: 1;
	}
}

@-webkit-keyframes wasteUpAlt2 {
	0%, 65%, 100% {
		opacity: 0;
	}
	75%, 95% {
		opacity: 1;
	}
}
@keyframes wasteUpAlt2 {
	0%, 65%, 100% {
		opacity: 0;
	}
	75%, 95% {
		opacity: 1;
	}
}

@-webkit-keyframes moveWaste {
	0%, 70% {
		-webkit-transform: translateX(0);
	}
	90%, 100% {
		-webkit-transform: translateX(780px);
	}
}
@keyframes moveWaste {
	0%, 70% {
		transform: translateX(0);
	}
	90%, 100% {
		transform: translateX(780px);
	}
}


#stamp-1 {
	#tl-text-01 {
		bottom: 460px;
		left: 0;
		opacity: 1;
		width: 500px;
		h2 {
			margin: 6px 0 14px;
		}
	}
	#tl-text-02 {
		right: 0;
		bottom: 40px;
		opacity: 1;
	}
}

#tl-text-2 {
	right: 0;
	bottom: 40px; // -60px;
	z-index: 5;
}
#tl-text-1 {
	bottom: 460px; // 560px;
	left: 0;
}

#stamp-2 {
	#tl-text-1 {
		width: 460px;
	}
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}
}

// PART 3
// ======
.stamp-3 {
	#tl-text-3 {
		width: 480px;
	}
	.bg-1 {
		position: absolute;
		left: 70px;
		bottom: 215px;
	}
	.bg-2 {
		position: absolute;
		right: 0;
		bottom: 200px;
	}

	.skyscraper-1 {
		position: absolute;
		bottom: -50px; // 196
		right: 60px;
		display: none;
	}
	.skyscraper-2 {
		position: absolute;
		bottom: -120px; // 150
		left: 378px;
		display: none;
	}
	.skyscraper-3 {
		position: absolute;
		left: 572px;
		bottom: -260px; // 150
		display: none;
	}
	&.animate {
		.skyscraper-1 {
			-webkit-animation: 10s buildScraper1 ease-out alternate infinite;
			animation: 10s buildScraper1 ease-out alternate infinite;
			display: block;
		}
		.skyscraper-2 {
			-webkit-animation: 10s 6.6s buildScraper2 ease-out alternate infinite;
			animation: 10s 6.6s buildScraper2 ease-out alternate infinite;
			display: block;
		}
		.skyscraper-3 {
			-webkit-animation: 10s 3.3s buildScraper3 ease-out alternate infinite;
			animation: 10s 3.3s buildScraper3 ease-out alternate infinite;
			display: block;
		}
	}

	#house-4 {
		position: absolute;
		right: 580px;
		bottom: 0px;
	}
	#house-5 {
		position: absolute;
		right: 380px;
		bottom: 0;
	}
	#house-6 {
		position: absolute;
		right: 190px;
		bottom: 0;
	}
	#house-7 {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#house-8 {
		position: absolute;
		right: 454px;
		bottom: 215px // 0;
	}
	#house-9 {
		position: absolute;
		right: 258px;
		bottom: 215px // 0;
	}
	#house-10 {
		position: absolute;
		right: 64px;
		bottom: 215px // 0;
	}

	#tl-text-5 {
		right: 0;
		bottom: 40px; // -60px;
		width: 360px;
	}
	#tl-text-4 {
		right: 410px;
		bottom: 40px; // -60px;
	}
	#tl-text-3 {
		bottom: 520px; // 620px;
		left: 0;
	}
}

@-webkit-keyframes buildScraper1 {
	0%, 15% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		-webkit-transform: translateY(-140px);
		opacity: 1;
	}
	40%, 55% {
		-webkit-transform: translateY(-170px);
		opacity: 1;
	}
	60%, 75% {
		-webkit-transform: translateY(-210px);
		opacity: 1;
	}
	80%, 100% {
		-webkit-transform: translateY(-226px);
		opacity: 1;
	}
}
@keyframes buildScraper1 {
	0%, 15% {
		transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		transform: translateY(-140px);
		opacity: 1;
	}
	40%, 55% {
		transform: translateY(-170px);
		opacity: 1;
	}
	60%, 75% {
		transform: translateY(-210px);
		opacity: 1;
	}
	80%, 100% {
		transform: translateY(-226px);
		opacity: 1;
	}
}

@-webkit-keyframes buildScraper2 {
	0%, 15% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		-webkit-transform: translateY(-200px);
		opacity: 1;
	}
	40%, 55% {
		-webkit-transform: translateY(-240px);
		opacity: 1;
	}
	60%, 75% {
		-webkit-transform: translateY(-260px);
		opacity: 1;
	}
	80%, 100% {
		-webkit-transform: translateY(-270px);
		opacity: 1;
	}
}
@keyframes buildScraper2 {
	0%, 15% {
		transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		transform: translateY(-200px);
		opacity: 1;
	}
	40%, 55% {
		transform: translateY(-240px);
		opacity: 1;
	}
	60%, 75% {
		transform: translateY(-260px);
		opacity: 1;
	}
	80%, 100% {
		transform: translateY(-270px);
		opacity: 1;
	}
}

@-webkit-keyframes buildScraper3 {
	0%, 15% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		-webkit-transform: translateY(-190px);
		opacity: 1;
	}
	40%, 55% {
		-webkit-transform: translateY(-280px);
		opacity: 1;
	}
	60%, 75% {
		-webkit-transform: translateY(-340px);
		opacity: 1;
	}
	80%, 100% {
		-webkit-transform: translateY(-410px);
		opacity: 1;
	}
}
@keyframes buildScraper3 {
	0%, 15% {
		transform: translateY(0);
		opacity: 1;
	}
	20%, 35% {
		transform: translateY(-190px);
		opacity: 1;
	}
	40%, 55% {
		transform: translateY(-280px);
		opacity: 1;
	}
	60%, 75% {
		transform: translateY(-340px);
		opacity: 1;
	}
	80%, 100% {
		transform: translateY(-410px);
		opacity: 1;
	}
}


// PART 4
// ======
#stamp-4 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}

	#outhouse {
		position: absolute;
		left: 160px;
		bottom: 0;
	}

	#flies-1 {
		position: absolute;
		bottom: 0;
		left: 80px;
		opacity: 0;
		transition: 0.5s opacity;
	}
	#flies-2 {
		position: absolute;
		bottom: 0;
		left: 260px;
		opacity: 0;
		transition: 0.5s opacity;
	}
	&.animate {
		#flies-1 {
			opacity: 1;
			-webkit-animation: 3s flies1 linear infinite;
			animation: 3s flies1 linear infinite;
		}
		#flies-2 {
			opacity: 1;
			-webkit-animation: 3s flies1 linear reverse infinite;
			animation: 3s flies1 linear reverse infinite;
		}
	}

	#factory-1950 {
		position: absolute;
		right: 120px;
		bottom: -130px;
		z-index: 1;
	}
	#factory-silo1 {
		position: absolute;
		right: 0;
		bottom: -20px;
		z-index: 1;
	}
	#factory-silo2 {
		position: absolute;
		right: 80px;
		bottom: -20px;
		z-index: 1;
	}
	#chimney {
		position: absolute;
		left: 490px;
		bottom: 410px;
		z-index: 1;
		opacity: 0;
	}
	.smoke-1 {
		position: absolute;
		left: 474px;
		bottom: 470px;
		opacity: 0;
		display: none;
	}
	.smoke-2 {
		position: absolute;
		left: 478px;
		bottom: 470px;
		opacity: 0;
		display: none;
	}

	&.animate {
		.smoke-1 {
			display: block;
			-webkit-animation: 8s smoke1 linear infinite;
			animation: 8s smoke1 linear infinite;
		}
		.smoke-2 {
			display: block;
			-webkit-animation: 8s 4s smoke2 linear infinite;
			animation: 8s 4s smoke2 linear infinite;
		}
	}

	#tl-text-6 {
		bottom: 490px; // 590px;
		left: 0;
	}
	#tl-text-7 {
		bottom: 60px; // -40px;
		right: 0;
	}
}

@-webkit-keyframes flies1 {
	0%, 100% {
		-webkit-transform: translate3d(8px,0,0);
	}
	25% {
		-webkit-transform: translate3d(14px,-6px,0);
	}
	50% {
		-webkit-transform: translate3d(4px,4px,0);
	}
	75% {
		-webkit-transform: translate3d(-10px,8px,0);
	}
}
@keyframes flies1 {
	0%, 100% {
		transform: translate3d(8px,0,0);
	}
	25% {
		transform: translate3d(14px,-6px,0);
	}
	50% {
		transform: translate3d(4px,4px,0);
	}
	75% {
		transform: translate3d(-10px,8px,0);
	}
}

@-webkit-keyframes smoke1 {
	0% {
		-webkit-transform: translateY(0) scale(0.2);
		opacity: 1;
	}
	10% {
		-webkit-transform: translateY(-30px) scale(0.2);
		opacity: 1;
	}
	50% {
		-webkit-transform: translateY(-130px) scale(1);
		opacity: 1;
	}
	90% {
		-webkit-transform: translateY(-230px) translateX(20px) rotate(5deg) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-250px) translateX(25px) rotate(6deg) scale(1);
		opacity: 0;
	}
}
@keyframes smoke1 {
	0% {
		transform: translateY(0) scale(0.2);
		opacity: 1;
	}
	10% {
		transform: translateY(-30px) scale(0.2);
		opacity: 1;
	}
	50% {
		transform: translateY(-130px) scale(1);
		opacity: 1;
	}
	90% {
		transform: translateY(-230px) translateX(20px) rotate(5deg) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(-250px) translateX(25px) rotate(6deg) scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes smoke2 {
	0% {
		-webkit-transform: translateY(0) scale(0.2);
		opacity: 1;
	}
	10% {
		-webkit-transform: translateY(-30px) scale(0.2);
		opacity: 1;
	}
	50% {
		-webkit-transform: translateY(-130px) scale(1);
		opacity: 1;
	}
	90% {
		-webkit-transform: translateY(-230px) translateX(-20px) rotate(-5deg) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-250px) translateX(-25px) rotate(-6deg) scale(1);
		opacity: 0;
	}
}
@keyframes smoke2 {
	0% {
		transform: translateY(0) scale(0.2);
		opacity: 1;
	}
	10% {
		transform: translateY(-30px) scale(0.2);
		opacity: 1;
	}
	50% {
		transform: translateY(-130px) scale(1);
		opacity: 1;
	}
	90% {
		transform: translateY(-230px) translateX(-20px) rotate(-5deg) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(-250px) translateX(-25px) rotate(-6deg) scale(1);
		opacity: 0;
	}
}


// PART 5
// ======
#stamp-5 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}

	#trash-glass {
		position: absolute;
		left: 350px;
		bottom: 217px; // 0;
		width: 190px;
		height: 400px;
		.base {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		.bottle {
			position: absolute;
			top: 0;
			left: 80px;
			display: none;
			opacity: 0;
		}
	}
	#trash-metal {
		position: absolute;
		left: 580px;
		bottom: 217px; // 0;
		width: 160px;
		height: 400px;
		.base {
			position: absolute;
			left: 10px;
			bottom: 0;
			z-index: 1;
		}
		.lid {
			position: absolute;
			bottom: 123px;
			left: 0;
			width: 100%;
			height: 10px;
			background: #38AA62;
			border-radius: 3px;
			z-index: 1;
			.darker {
				height: 100%;
				width: 50%;
				background: #409C5E;
				border-radius: 3px 0 0 3px;
			}
		}
		.tin {
			position: absolute;
			top: 0;
			left: 65px;
			display: none;
			opacity: 0;
		}
	}
	#trash-food {
		position: absolute;
		left: 790px;
		bottom: 216px; // 0;
		width: 80px;
		height: 400px;
		.base {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
		}
		.lid {
			position: absolute;
			left: 0;
			bottom: 136px;
		}
		.bag {
			position: absolute;
			top: 0;
			left: 10px;
			display: none;
			opacity: 0;
		}
	}

	&.animate {
		#trash-glass {
			.bottle {
				display: block;
				-webkit-animation: 5s dropFood infinite ease-in;
				animation: 5s dropFood infinite ease-in;
			}
		}
		#trash-metal {
			.lid {
				-webkit-animation: 5s 1.6s openMetalLid infinite ease-in;
				animation: 5s 1.6s openMetalLid infinite ease-in;
			}
			.tin {
				display: block;
				-webkit-animation: 5s 1.6s dropMetal infinite ease-in;
				animation: 5s 1.6s dropMetal infinite ease-in;
			}
		}
		#trash-food {
			.bag {
				display: block;
				-webkit-animation: 5s 3.3s dropFood infinite ease-in;
				animation: 5s 3.3s dropFood infinite ease-in;
			}
			.lid {
				-webkit-transform-origin: top left;
				transform-origin: top left;
				-webkit-animation: 5s 3.3s openFoodLid infinite ease-in;
				animation: 5s 3.3s openFoodLid infinite ease-in;
			}
		}
	}

	#tl-text-8 {
		bottom: 490px; // 590px;
		left: 0;
		width: 300px;
	}
	#tl-text-9 {
		bottom: 60px; // -40px;
		right: 0;
	}
}

@-webkit-keyframes dropMetal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0);
	}
	10% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	30%, 100% {
		opacity: 1;
		-webkit-transform: translateY(290px);
	}
}
@keyframes dropMetal {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	10% {
		opacity: 1;
		transform: translateY(0);
	}
	30%, 100% {
		opacity: 1;
		transform: translateY(290px);
	}
}

@-webkit-keyframes openMetalLid {
	0%, 40%, 100% {
		height: 10px;
	}
	10%, 30% {
		height: 60px;
	}
}
@keyframes openMetalLid {
	0%, 40%, 100% {
		height: 10px;
	}
	10%, 30% {
		height: 60px;
	}
}

@-webkit-keyframes dropFood {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0) scale(1);
	}
	10% {
		opacity: 1;
		-webkit-transform: translateY(0) scale(1);
	}
	30%, 100% {
		opacity: 1;
		-webkit-transform: translateY(280px) scale(0.6);
	}
}
@keyframes dropFood {
	0% {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	10% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	30%, 100% {
		opacity: 1;
		transform: translateY(280px) scale(0.6);
	}
}

@-webkit-keyframes openFoodLid {
	0%, 40%, 100% {
		-webkit-transform: rotate(0) translateX(0);
	}
	10%, 30% {
		-webkit-transform: rotate(-90deg) translateX(-12px);
	}
}
@keyframes openFoodLid {
	0%, 40%, 100% {
		transform: rotate(0) translateX(0);
	}
	10%, 30% {
		transform: rotate(-90deg) translateX(-12px);
	}
}

// PART 6
// ======
#stamp-6 {
	.bg-1 {
		position: absolute;
		right: 70px;
		bottom: 215px;
	}
	.bg-2 {
		position: absolute;
		left: 140px;
		bottom: 200px;
	}

	#foodstore {
		position: absolute;
		left: 200px;
		bottom: 0;
		width: 340px;
		height: 160px;
		img {
			position: relative;
			z-index: 1;
		}
	}
	.back-store {
		position: absolute;
		top: 56px;
		left: 10px;
		right: 20px;
		bottom: 20px;
		background: #C9E7F5;
		.man {
			position: absolute;
			top: 20px;
			left: 105px;
			opacity: 0;
			transition: 0.5s opacity;
		}
		.woman {
			position: absolute;
			top: 24px;
			left: 2px;
			opacity: 0;
			transition: 0.5s opacity;
		}
	}
	&.animate .back-store {
		.man {
			opacity: 0.5;
			-webkit-animation: 20s moveMan infinite;
			animation: 20s moveMan infinite;
		}
		.woman {
			opacity: 0.5;
			-webkit-animation: 20s moveWoman infinite;
			animation: 20s moveWoman infinite;
		}
	}

	#house-11 {
		position: absolute;
		right: 290px;
		bottom: -80px;
	}

	#restaurant {
		position: absolute;
		right: 0;
		bottom: -1px;
		img {
			position: relative;
			z-index: 1;
			max-width: 100%;
		}
	}
	.back-rest {
		position: absolute;
		top: 120px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		background: #C9E7F5;
		overflow: hidden;
		.man {
			position: absolute;
			top: 20px;
			left: 16px;
			opacity: 0;
			transition: 0.5s opacity;
		}
		.woman {
			position: absolute;
			top: 24px;
			left: 38px;
			opacity: 0;
			transition: 0.5s opacity;
		}
	}
	&.animate .back-rest {
		.man {
			opacity: 0.5;
			-webkit-animation: 20s showMan infinite;
			animation: 20s showMan infinite;
		}
		.woman {
			opacity: 0.5;
			-webkit-animation: 20s 2s showWoman infinite;
			animation: 20s 2s showWoman infinite;
		}
	}

	#bush-1 {
		position: absolute;
		right: 260px;
		bottom: 0;
	}
	#bush-2 {
		position: absolute;
		right: 316px;
		bottom: 0;
	}

	#tl-text-10 {
		bottom: 450px; // 550px;
		left: 0;
		width: 340px;
	}
}

@-webkit-keyframes moveMan {
	0%, 80% {
		-webkit-transform: translateX(0);
	}
	20%, 25% {
		-webkit-transform: translateX(-80px);
	}
	55%, 60% {
		-webkit-transform: translateX(162px);
	}
}
@keyframes moveMan {
	0%, 80% {
		transform: translateX(0);
	}
	20%, 25% {
		transform: translateX(-80px);
	}
	55%, 60% {
		transform: translateX(162px);
	}
}

@-webkit-keyframes moveWoman {
	0%, 80% {
		-webkit-transform: translateX(0);
	}
	30%, 35% {
		-webkit-transform: translateX(242px);
	}
	60%, 65% {
		-webkit-transform: translateX(80px);
	}
}
@keyframes moveWoman {
	0%, 80% {
		transform: translateX(0);
	}
	30%, 35% {
		transform: translateX(242px);
	}
	60%, 65% {
		transform: translateX(80px);
	}
}

@-webkit-keyframes showMan {
	0%, 80% {
		-webkit-transform: translateY(0) translateX(0);
	}
	5%, 75% {
		-webkit-transform: translateY(80px) translateX(0);
	}
	15%, 35% {
		-webkit-transform: translateY(80px) translateX(48px);
	}
	20%, 30% {
		-webkit-transform: translateY(0) translateX(48px);
	}
	45%, 65% {
		-webkit-transform: translateY(80px) translateX(134px);
	}
	50%, 60% {
		-webkit-transform: translateY(0) translateX(134px);
	}
}
@keyframes showMan {
	0%, 80% {
		transform: translateY(0) translateX(0);
	}
	5%, 75% {
		transform: translateY(80px) translateX(0);
	}
	15%, 35% {
		transform: translateY(80px) translateX(48px);
	}
	20%, 30% {
		transform: translateY(0) translateX(48px);
	}
	45%, 65% {
		transform: translateY(80px) translateX(134px);
	}
	50%, 60% {
		transform: translateY(0) translateX(134px);
	}
}

@-webkit-keyframes showWoman {
	0%, 80% {
		-webkit-transform: translateY(0) translateX(0);
	}
	5%, 75% {
		-webkit-transform: translateY(80px) translateX(0);
	}
	15%, 35% {
		-webkit-transform: translateY(80px) translateX(86px);
	}
	20%, 30% {
		-webkit-transform: translateY(0) translateX(86px);
	}
	45%, 65% {
		-webkit-transform: translateY(80px) translateX(-48px);
	}
	50%, 60% {
		-webkit-transform: translateY(0) translateX(-48px);
	}
}
@keyframes showWoman {
	0%, 80% {
		transform: translateY(0) translateX(0);
	}
	5%, 75% {
		transform: translateY(80px) translateX(0);
	}
	15%, 35% {
		transform: translateY(80px) translateX(86px);
	}
	20%, 30% {
		transform: translateY(0) translateX(86px);
	}
	45%, 65% {
		transform: translateY(80px) translateX(-48px);
	}
	50%, 60% {
		transform: translateY(0) translateX(-48px);
	}
}

// PART 7
// ======
#stamp-7 {
	#tl-bg-6 {
		position: absolute;
		left: 20px;
		bottom: 182px;
	}

	#flag {
		position: absolute;
		left: 0;
		bottom: -200px;
	}
	#fuelpump {
		position: absolute;
		left: 50px;
		bottom: 0;
		height: 105px;
		width: 80px;
		.display {
			position: absolute;
			top: 6px;
			left: 25px;
			right: 13px;
			height: 30px;
			background: #59595C;
			border-radius: 2px;
			overflow: hidden;
		}
		.progress {
			position: absolute;
			top: 4px;
			left: 4px;
			bottom: 4px;
			width: 0;
			background: #65B97F;
			border-radius: 2px;
			
		}
		.leaf {
			position: absolute;
			top: 5px;
			left: 5px;
			opacity: 0;
		}
	}
	&.animate #fuelpump {
		.progress {
			-webkit-animation: 10s pumpGas infinite;
			animation: 10s pumpGas infinite;
		}
		.leaf {
			-webkit-animation: 10s pumpGasComplete infinite;
			animation: 10s pumpGasComplete infinite;
		}
	}
	/*
	#lorry-exhaust {
		position: absolute;
		left: 150px;
		bottom: 0;
	}
	*/
	#bush-1 {
		position: absolute;
		left: 280px;
		bottom: 200px;
		height: 72px;
		display: none;
	}
	#bush-2 {
		position: absolute;
		left: 420px;
		bottom: 200px;
		height: 64px;
		display: none;
	}
	#bush-3 {
		position: absolute;
		left: 510px;
		bottom: 200px;
		height: 76px;
		display: none;
	}
	.bush {
		-webkit-transform-origin: bottom center;
		transform-origin: bottom center;
		img {
			position: relative;
			z-index: 1;
		}
		.stem {
			position: absolute;
			top: 10px;
			left: 50%;
			bottom: 0;
			width: 10px;
			margin-left: -5px;
			border-right: 5px solid #B08048;
			background: #905F37;
		}
		
	}

	#lorry {
		position: absolute;
		left: 150px;
		bottom: 0;
		height: 140px;
		width: 650px;
		// background: rgba(50,50,50,.25);
		overflow: hidden;
		z-index: 1;
		.truck {
			position: absolute;
			top: 140px;
			left: 0;
			width: 320px;
			height: 132px;
			display: none;
			.exhaust {
				position: absolute;
				top: 60px;
				left: -80px;
				opacity: 0;
				-webkit-transform-origin: right center;
				transform-origin: right center;
			}
		}
	}

	&.animate {
		#bush-1 {
			display: block;
			-webkit-animation: 10s popupTree1 infinite;
			animation: 10s popupTree1 infinite;
		}
		#bush-2 {
			display: block;
			-webkit-animation: 10s popupTree2 infinite;
			animation: 10s popupTree2 infinite;
		}
		#bush-3 {
			display: block;
			-webkit-animation: 10s popupTree3 infinite;
			animation: 10s popupTree3 infinite;
		}
		#lorry .truck {
			display: block;
			-webkit-animation: 10s moveTruck infinite;
			animation: 10s moveTruck infinite;
			.exhaust {
				-webkit-animation: 10s showExhaust infinite;
				animation: 10s showExhaust infinite;
			}
		}
	}

	#house-12 {
		position: absolute;
		right: 90px;
		bottom: -80px;
		z-index: 1;
	}
	#trees {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	#tl-text-11 {
		bottom: 60px; // -40px;
		left: 0;
	}
}

@-webkit-keyframes pumpGas {
	0%, 14% {
		width: 0;
		top: 4px;
		left: 4px;
		bottom: 4px;
		background: #65B97F;
		border-radius: 2px;
	}
 24% {
		width: 34px;
		top: 4px;
		left: 4px;
		bottom: 4px;
		background: #65B97F;
	}
	27%, 70% {
		top: 0;
		left: 0;
		bottom: 0;
		width: 42px;
		background: #FFF;
	}
	80%, 100% {
		top: 0;
		left: 0;
		bottom: 0;
		width: 42px;
		background: #59595C;
	}
}
@keyframes pumpGas {
	0%, 14% {
		width: 0;
		top: 4px;
		left: 4px;
		bottom: 4px;
		background: #65B97F;
		border-radius: 2px;
	}
 24% {
		width: 34px;
		top: 4px;
		left: 4px;
		bottom: 4px;
		background: #65B97F;
	}
	27%, 70% {
		top: 0;
		left: 0;
		bottom: 0;
		width: 42px;
		background: #FFF;
	}
	80%, 100% {
		top: 0;
		left: 0;
		bottom: 0;
		width: 42px;
		background: #59595C;
	}
}

@-webkit-keyframes pumpGasComplete {
	0%, 25% {
		-webkit-transform: scale(0.5);
		opacity: 0;
	}
	28% {
		-webkit-transform: scale(1.1);
		opacity: 1;
	}
	30%, 65% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	80%, 100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}
@keyframes pumpGasComplete {
	0%, 25% {
		transform: scale(0.5);
		opacity: 0;
	}
	28% {
		transform: scale(1.1);
		opacity: 1;
	}
	30%, 65% {
		transform: scale(1);
		opacity: 1;
	}
	80%, 100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes showExhaust {
	0%, 31% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	40%, 100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes showExhaust {
	0%, 31% {
		transform: scale(0);
		opacity: 0;
	}
	40%, 100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes moveTruck {
	0% {
		-webkit-transform: translateY(0) translateX(0);
	}
	10% {
		-webkit-transform: translateY(-140px) translateX(0);
	}
	13%, 30% {
		-webkit-transform: translateY(-132px) translateX(0);
	}
	60%, 100% {
		-webkit-transform: translateY(-132px) translateX(800px);
	}
}
@keyframes moveTruck {
	0% {
		transform: translateY(0) translateX(0);
	}
	10% {
		transform: translateY(-140px) translateX(0);
	}
	13%, 30% {
		transform: translateY(-132px) translateX(0);
	}
	60%, 100% {
		transform: translateY(-132px) translateX(800px);
	}
}

@-webkit-keyframes popupTree1 {
	0%, 45%, 90%, 100% {
		opacity: 0;
		-webkit-transform: scale(0);
		height: 72px;
	}
	60%, 80% {
		opacity: 1;
		-webkit-transform: scale(1);
		height: 120px;
	}
}
@keyframes popupTree1 {
	0%, 45%, 90%, 100% {
		opacity: 0;
		transform: scale(0);
		height: 72px;
	}
	60%, 80% {
		opacity: 1;
		transform: scale(1);
		height: 120px;
	}
}

@-webkit-keyframes popupTree2 {
	0%, 47%, 90%, 100% {
		opacity: 0;
		-webkit-transform: scale(0);
		height: 64px;
	}
	62%, 82% {
		opacity: 1;
		-webkit-transform: scale(1);
		height: 110px;
	}
}
@keyframes popupTree2 {
	0%, 47%, 90%, 100% {
		opacity: 0;
		transform: scale(0);
		height: 64px;
	}
	62%, 82% {
		opacity: 1;
		transform: scale(1);
		height: 110px;
	}
}

@-webkit-keyframes popupTree3 {
	0%, 49%, 90%, 100% {
		opacity: 0;
		-webkit-transform: scale(0);
		height: 76px;
	}
	64%, 84% {
		opacity: 1;
		-webkit-transform: scale(1);
		height: 130px;
	}
}
@keyframes popupTree3 {
	0%, 49%, 90%, 100% {
		opacity: 0;
		transform: scale(0);
		height: 76px;
	}
	64%, 84% {
		opacity: 1;
		transform: scale(1);
		height: 130px;
	}
}

.dirt {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 218px;
	background: #625747;
	z-index: 2;
}