.pres-wrap {
	background: #63A272;
	padding: 200px 0;
	h1 {
		text-align: center;
		color: #F8F8F8;
		-webkit-font-smoothing: antialiased;
		-mos-osx-font-smoothing: greyscale;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
}

#image-counter {
	position: absolute;
	top: 150px;
	left: -150px;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 0.35s left;
}
.editing #image-counter {
	left: 20px;
}

#layer-help {
	position: absolute;
	top: 150px;
	right: 20px;
	color: #FFF;
	opacity: 0;
	transition: 0.2s all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.show {
		opacity: 1;
		transition: 0.2s 0.15s all;
	}
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	background: #36895B;
	border-radius: 0 5px 0 0;
	.pager {
		height: 40px;
		text-align: center;
		line-height: 38px;
		color: #FFF;
		font-size: 14px;
		border-bottom: 3px solid #63A272;
		background: #36895B;
		position: relative;
		.left, .right {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50px;
			font-weight: bold;
			color: #77AD7C;
			font-size: 18px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			cursor: pointer;
			background: #36895B;
			transition: 0.35s opacity;
			&:hover {
				opacity: 0.5;
			}
		}
		.left {
			left: 0;
			border-right: 1px solid #63A272;
			width: 51px;
		}
		.right {
			right: 0;
			border-left: 1px solid #63A272;
		}
	}
	.image-mode,
	.word-mode {
		float: left;
		width: 50%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #63A272;
		border-bottom: 1px solid #63A272;
		cursor: pointer;
		transition: 0.35s color;
		&:hover {
			color: #FFF !important;
		}
	}
	&.images-active .image-mode {
		color: #FFF;
	}
	&.words-active .word-mode {
		color: #FFF;
	}
	.image-mode {
		border-right: 1px solid #63A272;
	}
}

.tools {
	position: absolute;
	top: 90px;
	right: 0;
	font-size: 12px;
	height: 40px;
	width: 200px;
	background: #36895B;
	overflow: hidden;
	div {
		float: left;
		margin: 0 0 0 0;
		text-align: center;
		color: #77AD7C;
		line-height: 52px;
		width: calc(100%/4);
		border-left: 1px solid #63A272;
		cursor: pointer;
		&:first-child {
			border-left: none;
		}
		img {
			transition: 0.35s opacity;
		}
		&:hover img {
			opacity: 0.5;
		}
	}
	.restart {
		.icon-undo {
			display: none;
		}
		&.undo-mode {
			.icon-clear {
				display: none;
			}
			.icon-undo {
				display: inline-block;
			}
		}
	}
}

.color-swatches {
	position: absolute;
	right: -150px;
	bottom: 40px;
	transition: 0.35s all;
	opacity: 0;
	.color {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #333;
		float: left;
		margin-left: 8px;
		border: 2px solid transparent;
		cursor: pointer;
		&.bg-1 {
			background: #77AD7C;
		}
		&.bg-2 {
			background: #D2ECF8;
		}
		&.bg-3 {
			background: #E7BEA9;
		}
		&.bg-4 {
			background: #F4F4E3;
		}
		&.selected,
		&:hover {
			border-color: #FFF;
		}
	}
}
.editing .color-swatches {
	right: 0;
	opacity: 1;
}

.presentation {
	position: relative;
	height: 900px;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	img {
		max-width: 100%;
	}
	.remove-wrap {
		margin-top: 130px;
		height: 770px;
		width: 100%;
	}
	#drop-zone {
		margin-top: 130px;
		height: 680px;
		width: 100%;
		border-radius: 0 0 5px 5px;
	}
	.image-drawer {
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
		height: 130px;
		background: #36895B;
		border-right: 3px solid #63A272;
		border-radius: 5px 0 0 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		padding-right: 10px;
		.draggable {
			height: 40px;
			margin: 16px 0 0 15px;
			-moz-user-select: none;
		  -webkit-user-select: none;
		  -ms-user-select: none;
		  cursor: move;
		}
		.word-spacer {
			width: 0;
			height: 40px;
			margin: 0 10px 0 30px;
			position: relative;
			display: inline-block;
			border-right: 1px dashed #77AD7C;
			cursor: not-allowed;
		}
		&.mode-words {
			padding-top: 8px;
			padding-right: 8px;
			.draggable {
				height: 34px;
				margin: 0px 0px 4px 8px;
			}
		}
		.ui-draggable-dragging {
			z-index: 9999;
		}
		img {
			opacity: 0;
			transition: 0.35s opacity ease-in;
		}
		&.show img {
			opacity: 1;
		}
	}
	.word-drawer {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background: #444;
		img {
			display: block;
			float: left;
			margin: 18px 0 0 15px;
		}
	}
	.moveable-img {
		position: absolute;
		height: 40px;
	}

	.toast {
		position: absolute;
		top: 150px;
		right: -300px;
		background: #FFF;
		border-radius: 3px;
		padding: 10px;
		color: #666;
		transition: 0.5s right;
		z-index: 10;
		&.show {
			right: 20px;
		}
	}

	.overlay {
		position: absolute;
		top: 50%;
		background: #63A272;
		border-radius: 3px;
		opacity: 0;
		left: -9999px;
		-webkit-transition: 0.35s opacity, 0s 0.35s left;
		transition: 0.35s opacity, 0s 0.35s left;
		z-index: 10;
		&.show {
			opacity: 1;
			left: 50%;
			-webkit-transition: 0.35s opacity;
			transition: 0.35s opacity;
		}
		h6 {
			color: #FFF;
			font-size: 20px;
			margin: 40px 0 0 40px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		p {
			color: #FFF;
			font-size: 14px;
			padding: 0 40px;
			line-height: 20px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		button, .button {
			width: 50%;
			border: none;
			float: left;
			background: #36895B;
			padding: 18px 0;
			font-family: 'Lato';
			color: #FFF;
			border-radius: 0 0 3px 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			outline: none;
			transition: 0.35s background;
			&.first {
				border-right: 1px solid #63A272;
				border-radius: 0 0 0 3px;
			}
			&:hover {
				background: #286644;
			}
		}
		.button {
			height: 55px;
			text-align: center;
			text-decoration: none;
		}
		.bg-text {
			float: left;
			width: 500px;
		}
		.bg-picker {
			float: right;
			width: 200px;
			overflow: hidden;
			.bg-choice {
				width: 100%;
				height: 124px;
				background: #36895B;
				//border-radius: 3px;
				//border: 5px solid #63A272;
				border-bottom: none;
				transition: 0.35s border-color;
				text-align: center;
				line-height: 165px;
				img {
					opacity: 0;
					transition: 0.35s opacity;
				}
				&.bg-1 {
					border-top: 2px solid #63A272;
					border-right: 2px solid #63A272;
					border-radius: 0 3px 0 0;
					background: url(../img/pres_bg1.svg) #77AD7C no-repeat center;
					background-size: 500px;
					background-position: -20px -265px;
				}
				&.bg-2 {
					background: url(../img/pres_bg2.svg) #D2ECF8 no-repeat center;
					background-size: 500px;
					background-position: -315px -230px;
				}
				&.bg-3 {
					background: url(../img/pres_bg3.svg) #E7BEA9 no-repeat center;
					background-size: 500px;
					background-position: 20px 22px;
				}
				&.bg-4 {
					background: url(../img/pres_bg4.svg) #F4F4E3 no-repeat center;
					background-size: 500px;
					background-position: 20px -212px;
					border-radius: 0 0 3px 0;
				}
				&:hover img {
					opacity: 0.5;
				}
				&.selected img {
					opacity: 1;
				}

			}
		}

		&.import {
			width: 500px;
			margin: -50px 0 0 -250px;
			button,
			.button {
				margin-top: 34px;
			}
			&.popup button {
				width: 100%;
				border-radius: 0 0 3px 3px;
			}
		}
		&.intro {
			width: 700px;
			margin: -230px 0 0 -350px;
			button {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 500px;
				border-radius: 0 0 0 3px;
			}
		}

		&.print {
			margin-top: -210px;
			text-align: center;
			h6 {
				text-align: left;
			}
			.ie-text {
				text-align: left;
				margin-bottom: 0;
				display: none;
			}
			img {
				width: 420px;
				margin: 30px 0 90px;
				border-radius: 3px;
			}
			.button {
				position: absolute;
				bottom: 0;
				left: 0;
			}
			button {
				position: absolute;
				right: 0;
				bottom: 0;
			}

			&.ie {
				margin-top: -260px;
				.ie-text {
					display: block;
				}
				.button {
					display: none;
				}
				button {
					width: 100%;
				}
			}
		}

		&.help {
			width: 520px;
			margin: -205px 0 0 -260px;
			button {
				margin-top: 20px;
				width: 100%;
				border-radius: 0 0 3px 3px;
			}
		}
	}
}

.draggable-melon {
	background: url(../img/melon.svg) no-repeat center;
	background-size: cover;
}


#drop-zone {
	background: #77AD7C;
	&.bg-1 {
		background: url(../img/pres_bg1.svg) #77AD7C no-repeat center;
		//background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-2 {
		background: url(../img/pres_bg2.svg) #D2ECF8 no-repeat center;
		//background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-3 {
		background: url(../img/pres_bg3.svg) #E7BEA9 no-repeat center;
		//background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-4 {
		background: url(../img/pres_bg4.svg) #F4F4E3 no-repeat center;
		//background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
}

#drop-zone .ui-draggable {
	cursor: move;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	&:hover {
		opacity: 0.75;
	}
}

.trash-can {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 5px 5px;
	height: 90px;
	border-top: none;
	color: #36895B;
	font-size: 18px;
	line-height: 74px;
	text-align: center;
	transition: 0.35s all;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: #63A272;
	span, img {
		transition: 0.35s all;
	}
	span {
		opacity: 1;
		display: block;
	}
	img {
		position: absolute;
		top: 26px;
		left: 50%;
		margin-left: -25px;
		opacity: 0;
	}
	&.remove {
		border-top: none;
		z-index: 3;
		background: #36895B;
		span {
			opacity: 0;
			margin-top: 6px;
		}
		img {
			opacity: 1;
			top: 20px;
		}
	}

}

.shrink {
	-webkit-animation: deleteAnim 1s;
	animation: deleteAnim 1s;
}

@-webkit-keyframes deleteAnim {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
	}
}
@keyframes deleteAnim {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

/*
@media print {
	body {
		margin: 0;
		overflow: hidden;
		background: #77AD7C;
	}
	.no-print-pres { // UTILITY CLASS
		display: none;
	}

	.image-drawer,
	.word-drawer,
	#layer-help,
	#image-counter,
	.controls,
	.tools {
		display: none;
	}
	.presentation {
		height: 680px;
		background: #77AD7C;
		margin: 0;
		#drop-zone {
			margin-top: 0;
			.ui-draggable {
				margin-top: -130px;
			}
		}
	}
}
*/