body {
	background: #63A272;
}

#image-counter {
	position: absolute;
	top: 150px;
	left: -150px;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	transition: 0.35s left;
}
.editing #image-counter {
	left: 20px;
}

#layer-help {
	position: absolute;
	top: 150px;
	right: 20px;
	color: #FFF;
	opacity: 0;
	transition: 0.2s all;
	-webkit-font-smoothing: antialiased;
	&.show {
		opacity: 1;
		transition: 0.2s 0.15s all;
	}
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	background: #FFF;
	.pager {
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: #FFF;
		font-size: 12px;
		border-bottom: 3px solid #63A272;
		background: #63A272;
		position: relative;
		.left, .right {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50px;
			font-weight: bold;
			color: #77AD7C;
			font-size: 18px;
			-webkit-font-smoothing: antialiased;
			cursor: pointer;
			background: #FFF;
			&:hover {
				color: #333;
			}
		}
		.left {
			left: 0;
			border-right: 1px solid #63A272;
		}
		.right {
			right: 0;
			border-left: 1px solid #63A272;
		}
	}
	.image-mode,
	.word-mode {
		float: left;
		width: 50%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: rgba(0,0,0,.25);
		border-bottom: 1px solid #63A272;
		cursor: pointer;
		&:hover {
			color: #333 !important;
		}
	}
	&.images-active .image-mode {
		color: #63A272;
	}
	&.words-active .word-mode {
		color: #63A272;
	}
	.image-mode {
		border-right: 1px solid #63A272;
	}
}

.tools {
	position: absolute;
	top: 90px;
	right: 0;
	font-size: 12px;
	height: 40px;
	width: 200px;
	background: #FFF;
	div {
		float: left;
		margin: 0 0 0 0;
		text-align: center;
		color: #77AD7C;
		line-height: 40px;
		width: calc(100%/3);
		border-left: 1px solid #63A272;
		cursor: pointer;
		&:first-child {
			border-left: none;
		}
		&:hover {
			color: #333;
		}
	}
}

.color-swatches {
	position: absolute;
	right: -150px;
	bottom: 40px;
	transition: 0.35s right;
	.color {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #333;
		float: left;
		margin-left: 8px;
		border: 2px solid transparent;
		cursor: pointer;
		&.bg-1 {
			background: #77AD7C;
		}
		&.bg-2 {
			background: #D2ECF8;
		}
		&.bg-3 {
			background: #E7BEA9;
		}
		&.bg-4 {
			background: #F4F4E3;
		}
		&.selected,
		&:hover {
			border-color: #FFF;
		}
	}
}
.editing .color-swatches {
	right: 0px;
}

.presentation {
	position: relative;
	height: 900px;
	width: 1000px;
	margin: 60px auto;
	overflow: hidden;
	border-radius: 5px;
	.remove-wrap {
		margin-top: 130px;
		height: 770px;
		width: 100%;
	}
	#drop-zone {
		margin-top: 130px;
		height: 680px;
		width: 100%;
	}
	.image-drawer {
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
		height: 130px;
		background: #FFF;
		border-right: 3px solid #77AD7C;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		.draggable {
			height: 40px;
			margin: 16px 0 0 15px;
			-moz-user-select: none;
		  -webkit-user-select: none;
		  -ms-user-select: none;
		  cursor: move;
		}
		&.mode-words {
			padding-top: 18px;
			.draggable {
				margin: -8px -12px 0 0;
			}
		}
		.ui-draggable-dragging {
			z-index: 9999;
		}
	}
	.word-drawer {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background: #444;
		img {
			display: block;
			float: left;
			margin: 18px 0 0 15px;
		}
	}
	.moveable-img {
		position: absolute;
		height: 40px;
	}

	.toast {
		position: absolute;
		top: 150px;
		right: -200px;
		background: #FFF;
		border-radius: 3px;
		padding: 10px;
		color: #666;
		transition: 0.35s right;
		&.show {
			right: 20px;
		}
	}

	.overlay {
		position: absolute;
		top: 50%;
		background: #63A272;
		border-radius: 3px;
		opacity: 0;
		left: -9999px;
		-webkit-transition: 0.35s opacity, 0s 0.35s left;
		&.show {
			opacity: 1;
			left: 50%;
			-webkit-transition: 0.35s opacity;
		}
		h6 {
			color: #FFF;
			font-size: 20px;
			margin: 40px 0 0 40px;
			-webkit-font-smoothing: antialiased;
		}
		p {
			color: #FFF;
			font-size: 14px;
			padding: 0 40px;
		}
		button {
			width: 50%;
			border: none;
			float: left;
			background: #36895B;
			padding: 18px 0;
			font-family: 'Lato';
			color: #FFF;
			border-radius: 0 0 3px 0;
			-webkit-font-smoothing: antialiased;
			&.first {
				border-right: 1px solid #63A272;
				border-radius: 0 0 0 3px;
			}
			&:hover {
				background: #286644;
			}
		}
		.bg-picker {
			padding: 0 20px 16px;
			overflow: hidden;
			.bg-choice {
				width: 75px;
				height: 75px;
				background: #36895B;
				float: left;
				margin: 20px;
				border-radius: 3px;
				border: 3px solid transparent;
				transition: 0.35s border-color;
				&.bg-1 {
					border-color: #77AD7C;
					background: #77AD7C;
				}
				&.bg-2 {
					border-color: #D2ECF8;
					background: #D2ECF8;
				}
				&.bg-3 {
					border-color: #E7BEA9;
					background: #E7BEA9;
				}
				&.bg-4 {
					border-color: #F4F4E3;
					background: #F4F4E3;
				}
				&:hover,
				&.selected {
					border-color: #FFF;
				}

			}
		}

		&.import {
			width: 500px;
			margin: -10px 0 0 -250px;
			button {
				margin-top: 34px;
			}
		}
		&.intro {
			width: 500px;
			margin: -100px 0 0 -250px; 
			button {
				width: 100%;
				border-radius: 0 0 3px 3px;
			}
		}
	}
}

.draggable-melon {
	background: url(../img/melon.svg) no-repeat center;
	background-size: cover;
}


#drop-zone {
	background: #77AD7C;
	&.bg-1 {
		background: url(../img/pres_bg1.svg) #77AD7C no-repeat center;
		background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-2 {
		background: url(../img/pres_bg2.svg) #D2ECF8 no-repeat bottom center;
		background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-3 {
		background: url(../img/pres_bg3.svg) #E7BEA9 no-repeat center;
		background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
	&.bg-4 {
		background: url(../img/pres_bg4.svg) #F4F4E3 no-repeat center;
		background-size: 1000px 600px;
		transition: 0.35s background-color;
	}
}

#drop-zone .ui-draggable {
	cursor: move;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	&:hover {
		opacity: 0.75;
	}
}

.trash-can {	
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -170px;
	width: 340px;
	border-radius: 0 0 5px 5px;
	height: 90px;
	background: #63A272;
	border: 1px dashed #63A272;
	border-top: none;
	color: #36895B;
	font-size: 18px;
	line-height: 74px;
	text-align: center;
	transition: 0.35s all;
	&.remove {
		color: #FFF !important;
		border-color: #36895B;
		border-top: none;
		line-height: 90px;
		
	}
}
.show-delete .trash-can {
	display: block;
	color: #36895B;
}

.shrink {
	-webkit-animation: deleteAnim 1s;
}

@-webkit-keyframes deleteAnim {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@media print {
	body {
		margin: 0;
		overflow: hidden;
		background: #77AD7C;
	}
	.no-print-pres { // UTILITY CLASS
		display: none;
	}

	.image-drawer,
	.word-drawer,
	#layer-help,
	#image-counter,
	.controls,
	.tools {
		display: none;
	}
	.presentation {
		height: 680px;
		background: #77AD7C;
		margin: 0;
		#drop-zone {
			margin-top: 0;
			.ui-draggable {
				margin-top: -130px;
			}
		}
	}
}