.diploma {
	width: 100%;
	padding: 150px 0;
	-webkit-transition: 0.35s background;
	transition: 0.35s background;
	&.color-1 {
		background: #F6BBA9;
	}
	&.color-2 {
		background: #51B07B;
	}
	&.color-3 {
		background: #AAD3E8;
	}
	h1 {
		color: #F8F8F8;
		text-align: center;
	}
	.diploma-controls .controls-complete {
		width: 670px;
		margin: 20px auto 0;
		-webkit-transition: 0.35s opacity;
		transition: 0.35s opacity;
		overflow: hidden;
		display: none;
		.text-final {
			margin-top: 6px;
			width: 400px;
			float: right;
		}
		.buttons {
			width: 240px;
			float: left;
		}
		.circle {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: rgba(0,0,0,.25);
			float: left;
			margin: 24px 0 0 16px;
			-webkit-transition: 0.35s all;
			transition: 0.35s all;
			outline: none;
			border: 2px solid rgba(0,0,0,0.15);
			&:hover {
				background: rgba(0,0,0,.5);
			}
			&.c-1 {
				background: #F6BBA9;
				border-color: #F2A18C;
			}
			&.c-2 {
				background: #51B07B;
				border-color: #358656;
			}
			&.c-3 {
				background: #AAD3E8;
				border-color: #87B7DC;
			}
			&:hover {
				border-color: rgba(255,255,255,1) !important;
			}
		}
		button.export {
			position: relative;
			background: #F2A18C;
			border: none;
			padding: 0 16px;
			height: 44px;
			color: #FFF;
			outline: none;
			border-radius: 3px;
			margin-top: 20px;
			float: right;
			margin-right: 12px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			-webkit-transition: 0.35s background, 0.35s opacity, 0.35s color;
			transition: 0.35s background, 0.35s opacity, 0.35s color;
			vertical-align: text-bottom;
			font-weight: bold;
			.spin {
				position: absolute;
				top: 6px;
				left: 9px;
				opacity: 0;
				-webkit-transition: 0.35s opacity;
				transition: 0.35s opacity;
			}
			.printer {
				-webkit-transition: 0.35s 0.25s opacity;
				transition: 0.35s 0.25s opacity;
				margin: 1px 0 0 -1px;
			}
			&:hover {
				background: rgba(255,255,255,.5) !important;
			}
		}
	}

	.diploma-controls .controls-incomplete {
		width: 720px;
		margin: 20px auto 50px;
		overflow: hidden;
	}

	&.color-1 .diploma-controls {
		.circle.c-1 {
			border-color: rgba(255,255,255,1) !important;
		}
		button.export {
			background: #F2A18C;
			&:hover {
				color: #F2A18C;
			}
		}
	}
	&.color-2 .diploma-controls {
		.circle.c-2 {
			border-color: rgba(255,255,255,1) !important;
		}
		button.export {
			background: #358656;
			&:hover {
				color: #358656;
			}
		}
	}
	&.color-3 .diploma-controls {
		.circle.c-3 {
			border-color: rgba(255,255,255,1) !important;
		}
		button.export {
			background: #87B7DC;
			&:hover {
				color: #87B7DC;
			}
		}
	}

	.diploma-overlay {
		position: absolute;
		top: 10px;
		left: 50%;
		width: 600px;
		margin-left: -300px;
		border-radius: 3px;
		padding: 40px;
		opacity: 0;
		-webkit-transition: 0.5s opacity;
		transition: 0.5s opacity;
		background: #FFF;
		h6 {
			color: #666;
			font-size: 22px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-bottom: 16px;
		}
		.ie-text {
			display: none;
			width: 100%;
			font-size: 16px;
		}
		img {
			margin: 24px 0 0;
			max-width: 520px;
		}
		.button {
			margin-top: 20px;
			width: 50%;
			height: 55px;
			text-align: center;
			text-decoration: none;
			border: none;
			float: left;
			padding: 18px 0;
			font-family: 'Lato';
			color: #FFF;
			border-radius: 0 3px 3px 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			outline: none;
			-webkit-transition: 0.35s background;
			transition: 0.35s background;
			&.left {
				border-radius: 3px 0 0 3px;
			}
			&:hover {
				background: rgba(255,255,255,.25);
			}
		}

		&.ie {
			.ie-text {
				display: block;
			}
			.button {
				width: 100%;
				border-radius: 3px;
				&.left {
					display: none;
				}
			}
		}
	}

	&.complete {
		.diploma-controls {
			.controls-complete {
				display: block;
			}
			.controls-incomplete {
				display: none;
			}
		}
	}

	&.color-1 {
		.diploma-overlay {
			h6 {
				color: #BA4A3C;
			}
			.ie-text {
				color: #DEA58D;
			}
		}
		.button {
			background: #F2A18C;
			font-weight: bold;
			line-height: 20px;
			&.left {
				border-right: 1px solid #F6BBA9;
			}
			&:hover {
				background: #FADDD4;
				color: #F2A18C;
			}
		}
	}

	&.color-2 {
		.diploma-overlay {
			h6 {
				color: #3B6336;
			}
			.ie-text {
				color: #578357;
			}
		}
		.button {
			background: #358656;
			font-weight: bold;
			line-height: 20px;
			&.left {
				border-right: 1px solid #51B07B;
			}
			&:hover {
				color: #358656;
				background: #A8D7BD;
			}
		}
	}

	&.color-3 {
		.diploma-overlay {
			h6 {
				color: #5188B1;
			}
			.ie-text {
				color: #87B7DC;
			}
		}
		.button {
			background: #87B7DC;
			font-weight: bold;
			line-height: 20px;
			&.left {
				border-right: 1px solid #AAD3E8;
			}
			&:hover {
				background: #D4E9F3;
				color: #87B7DC;
			}
		}
	}

	h2 {
		font-size: 30px;
		margin-bottom: 0;
	}
	p {
		font-size: 18px;
	}
	.diploma-container {
		width: 800px;
		margin: 30px auto 0;
		height: 1120px;
		overflow: hidden;
		position: relative;
	}
	canvas {
		background: #FFF;
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transition: 0.5s opacity;
		transition: 0.5s opacity;
	}

	&.print {
		canvas {
			opacity: 0;
		}
		.diploma-controls {
			opacity: 0.35;
			button {
				pointer-events: none;
			}
		}
		.diploma-overlay {
			opacity: 1;
		}
	}

	&.loading .diploma-controls button.export {
		.spin {
			opacity: 1;
			-webkit-transition: 0.25s opacity;
			transition: 0.25s opacity;
			-webkit-animation: loadPrint 0.5s linear infinite;
			animation: loadPrint 0.5s linear infinite;
		}
		.printer {
			opacity: 0;
			-webkit-transition: 0.35s opacity;
			transition: 0.35s opacity;
		}
	}

}


@keyframes loadPrint {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes loadPrint {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}