
.landscape {
	position: absolute;
	width: 1000px;
	height: 700px;
	left: 50%;
	bottom: 0;
	margin: 0 0 0 -500px;
	.city {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 170px;
	}
	.text-intro {
		width: 730px;
		margin: 80px auto 0;
		color: #7C9BA5;
		span {
			font-size: 20px;
			margin-left: 16px;
			display: inline-block;
		}
	}
}

.pager .landscape .text-intro {
	opacity: 0;
	-webkit-transform: translateY(-20px);
}
.pager.out .landscape .text-intro {
	opacity: 1;
	transition: 0.35s 1.35s -webkit-transform ease-out, 0.7s 1.35s opacity;
	-webkit-transform: translateY(0);
}

.seascape {
	position: absolute;
	width: 100%;
	height: 220px;
	background: #4CB37F;
	left: 0;
	bottom: 0;
	-webkit-transform: translateY(100px);
	z-index: 1;
	.road {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 70px;
		background: #333;
		.stripes {
			position: absolute;
			top: 32px;
			left: 0;
			width: 100%;
			height: 8px;
			background: url(../img/vagstreck.svg) repeat-x;
		}
	}
}

.sea-back {
	position: absolute;
	height: 130px;
	left: -20%;
	width: 160%;
	bottom: -10px;
	-webkit-transform: translateY(100px);
	background: url(../img/hav_bak.svg);
  z-index: 2;
}
.sea-front {
	position: absolute;
	width: 160%;
	height: 90px;
	left: -20%;
	bottom: -10px;
	-webkit-transform: translateY(100px);
	background: url(../img/hav_fram.svg);
  z-index: 2;
}

.pager[class*="-active"].out {
	.seascape {
		-webkit-transform: translateY(0);
		transition: 1.5s ease-out -webkit-transform;
	}
  .sea-back, .sea-front {
    -webkit-transform: translateY(0);
    transition: 1.5s ease-out -webkit-transform;
  }

}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,6px,0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,6px,0) rotateZ(-360deg);
  }
}

@-webkit-keyframes wave2 {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,8px,0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,8px,0) rotateZ(-360deg);
  }
}

/*
@-webkit-keyframes backWaves {
	0%, 100% {
		-webkit-transform: translate3d(0,0,0);
	}
	25% {
		-webkit-transform: translate3d(10px, 7px,0);
	}
	50% {
		-webkit-transform: translate3d(0, 14px,0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 7px,0);
	}
}

@-webkit-keyframes frontWaves {
	0%, 100% {
		-webkit-transform: translate3d(0,0,0);
	}
	25% {
		-webkit-transform: translate3d(10px, 12px,0);
	}
	50% {
		-webkit-transform: translate3d(0, 24px,0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 12px,0);
	}
}
*/

.pager {
	.city-left {
		position: absolute;
		bottom: 178px;
		-webkit-transform: translateY(100px);
		right: 50%;
		left: 0;
		height: 100px;
		background: #4CB37F;
		border-top: 26px solid #3B8655;
		-webkit-transition: 1.5s ease-out -webkit-transform;
	}
	.city-right {
		position: absolute;
		bottom: 178px;
		-webkit-transform: translateY(100px);
		left: 50%;
		right: 0;
		height: 100px;
		background: #786855;
		border-top: 26px solid #635646;
		-webkit-transition: 1.5s ease-out -webkit-transform;
	}
	.sky {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.pager.out .city-left,
.pager.out .city-right {
	-webkit-transform: translateY(0);
}

.mobile-intro {
	display: none;
}

.page-1 {
  .citybus {
    position: absolute;
    left: -400px;
    bottom: 200px;
    z-index: 3;
    margin-left: -170px;
    -webkit-transform: translateZ(0);
    display: none;
  }
  .family {
    position: absolute;
    left: 50%;
    bottom: 220px;
    margin-left: -80px;
  }
}

.pager-animate {

	.sky {
		-webkit-animation: moveClouds 8s infinite alternate;
	}
	.citybus {
		-webkit-animation: 14s 2s driveBus infinite ease-out;
	}
	.family {
		-webkit-animation: 14s 2s busFamily infinite ease-out;
	}

	.sea-back {
		-webkit-animation: 6s 0.1s wave infinite linear;
	}
	.sea-front {
		-webkit-animation: 4s wave2 infinite linear;
	}

}


@-webkit-keyframes moveClouds {
	0% {
		-webkit-transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-60px);
	}
}

@-webkit-keyframes driveBus {
	0%, 10% {
		left: -400px;
	}
	30%, 60% {
		left: 50%;
	}
	90%, 100% {
		left: 150%;
	}
}

@-webkit-keyframes busFamily {
	0%, 100% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	36%, 90% {
		opacity: 0;
	}
}

.page-1, .page-2, .page-3 {
	.hills-1440, .hills-1920 {
		display: none;
	}
}

@media (min-width: 1440px) {
	.page-1 .hills-1440 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -720px;
		width: 1440px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-hill {
			position: absolute;
			left: 30px;
			bottom: 0;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 50px;
			bottom: 26px;
		}
		.left-tree {
			position: absolute;
			left: 96px;
			bottom: 45px;
			-webkit-transform: rotate(-6deg);
			transform: rotate(-6deg);
		}
		.left-tree-2 {
			position: absolute;
			left: 70px;
			bottom: 51px;
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}

		.right-hill {
			position: absolute;
			right: 40px;
			bottom: 0;
		}
		.right-hill-2 {
			position: absolute;
			right: 120px;
			bottom: 0;
		}
		.right-hill-back {
			position: absolute;
			right: 40px;
			bottom: 26px;
		}

		.right-trees {
			position: absolute;
			right: 160px;
			bottom: 1px;
		}
	}

	.page-2 .hills-1440 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -720px;
		width: 1440px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-hill {
			position: absolute;
			left: 30px;
			bottom: 0;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 50px;
			bottom: 26px;
		}
		.left-tree {
			position: absolute;
			left: 96px;
			bottom: 45px;
			-webkit-transform: rotate(-6deg);
			transform: rotate(-6deg);
		}
		.left-tree-2 {
			position: absolute;
			left: 70px;
			bottom: 51px;
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}

		.silo {
			position: absolute;
			right: 90px;
			bottom: 40px;
		}
		.silo-2 {
			position: absolute;
			right: 120px;
			bottom: 40px;
		}
		.right-hill {
			position: absolute;
			right: 40px;
			bottom: 0;
		}
		.right-hill-2 {
			position: absolute;
			right: 120px;
			bottom: 0;
		}
		.right-hill-back {
			position: absolute;
			right: 40px;
			bottom: 26px;
		}

		.right-trees {
			position: absolute;
			right: 160px;
			bottom: 1px;
		}
	}

	.page-3 .hills-1440 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -720px;
		width: 1440px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-hill {
			position: absolute;
			left: 30px;
			bottom: 0;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 50px;
			bottom: 26px;
		}
		.left-tree {
			position: absolute;
			left: 96px;
			bottom: 45px;
			-webkit-transform: rotate(-6deg);
			transform: rotate(-6deg);
		}
		.left-tree-2 {
			position: absolute;
			left: 70px;
			bottom: 51px;
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}

		.right-hill {
			position: absolute;
			right: 40px;
			bottom: 0;
		}
		.right-hill-2 {
			position: absolute;
			right: 120px;
			bottom: 0;
		}
		.right-hill-back {
			position: absolute;
			right: 40px;
			bottom: 26px;
		}

		.right-trees {
			position: absolute;
			right: 160px;
			bottom: 1px;
		}
	}
}

@media (min-width: 1920px) {
	.page-1 .hills-1920 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -960px;
		width: 1920px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-tree {
			position: absolute;
			left: 20px;
			bottom: 33px;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 140px;
			bottom: 26px;
		}
		.left-hill {
			position: absolute;
			left: 10px;
			bottom: 0;
		}
		.house-left {
			position: absolute;
			left: 120px;
			bottom: 0;
		}
		.house-left-2 {
			position: absolute;
			left: 204px;
			bottom: 0;
		}

		.right-tree {
			position: absolute;
			bottom: 27px;
			right: 270px;
			-webkit-transform: rotate(4deg);
			transform: rotate(4deg);
		}
		.cabin-red {
			position: absolute;
			bottom: 0;
			right: 100px;
		}
		.cabin-beige {
			position: absolute;
			bottom: 0;
			right: 40px;
		}
		.right-hill-back {
			position: absolute;
			right: 120px;
			bottom: 26px;
		}
		.right-hill {
			position: absolute;
			right: 190px;
			bottom: 0;
		}
	}

	.page-2	 .hills-1920 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -960px;
		width: 1920px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-tree {
			position: absolute;
			left: 20px;
			bottom: 33px;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 210px;
			bottom: 26px;
		}
		.left-hill {
			position: absolute;
			left: 240px;
			bottom: 0;
		}
		.house-left {
			position: absolute;
			left: 120px;
			bottom: 0;
		}
		.house-left-2 {
			position: absolute;
			left: 204px;
			bottom: 0;
		}
		.cyclist {
			position: absolute;
			left: 100px;
			bottom: 40px;
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}
		.bush {
			position: absolute;
			left: 170px;
			bottom: 24px;
		}
		.bush-alt {
			position: absolute;
			left: 190px;
			bottom: 24px;
		}
		.flowers {
			position: absolute;
			left: 50px;
			bottom: 0;
		}

		.right-tree {
			position: absolute;
			bottom: 27px;
			right: 270px;
			-webkit-transform: rotate(4deg);
			transform: rotate(4deg);
		}
		.cabin-red {
			position: absolute;
			bottom: 0;
			right: 100px;
		}
		.cabin-beige {
			position: absolute;
			bottom: 0;
			right: 40px;
		}
		.right-hill-back {
			position: absolute;
			right: 120px;
			bottom: 26px;
		}
		.right-hill {
			position: absolute;
			right: 190px;
			bottom: 0;
		}
		.cyclist-right {
			position: absolute;
			right: 184px;
			bottom: 54px;
			-webkit-transform: rotate(-10deg);
		}
	}

	.page-3 .hills-1920 {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 251px;
		margin-left: -960px;
		width: 1920px;
		height: 200px;
		//border-left: 1px dashed rgba(0,0,0,.25);
		//border-right: 1px dashed rgba(0,0,0,.25);
		.left-tree {
			position: absolute;
			left: 20px;
			bottom: 33px;
		}
		.left-hill-back {
			position: absolute;
			left: 0;
			bottom: 26px;
		}
		.left-hill-back-2 {
			position: absolute;
			left: 140px;
			bottom: 26px;
		}
		.left-hill {
			position: absolute;
			left: 10px;
			bottom: 0;
		}
		.house-left {
			position: absolute;
			left: 120px;
			bottom: 0;
		}

		.right-tree {
			position: absolute;
			bottom: 48px;
			right: 180px;
		}
		.right-tree-outline {
			position: absolute;
			bottom: 27px;
			right: 270px;
			-webkit-transform: rotate(4deg);
			transform: rotate(4deg);
		}
		.dirt-pile {
			position: absolute;
			bottom: -10px;
			right: 40px;
		}
		.right-hill-back {
			position: absolute;
			right: 120px;
			bottom: 26px;
		}
		.right-hill {
			position: absolute;
			right: 190px;
			bottom: 0;
		}
	}
}