.mobile-intro {
	position: absolute;
	top: 0;
	width: 400px;
	right: 0;
	bottom: 0;
	color: #FFF;
	z-index: 1;
	background: #1D3853;
	display: block;
	p {

	}
	.inner {
		padding: 20% 10%;
	}
}

#start-btn,
.loader,
.mobile-imagery {
	display: none;
}

.mobile-nav {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	background: #FFF;
	z-index: 600;
	border-bottom: 1px solid rgba(0,0,0,.1);
	.wrapper {
		width: 960px;
		margin: 0 auto;
		.logo {
			line-height: 16px;
			color: #333;
			width: 140px;
			float: left;
			text-align: center;
			height: 50px;
			vertical-align: center;
			padding-top: 10px;
			font-weight: bold;
			font-size: 14px;
			border-left: 1px solid rgba(0,0,0,.1);
		}
		.pages {
			width: calc(100% - 140px);
			float: right;
			div {
				color: #999;
				width: calc(100% / 3);
				float: left;
				text-align: center;
				line-height: 50px;
				-webkit-transition: 0.35s color;
				transition: 0.35s color;
				font-size: 14px;
				border-left: 1px solid rgba(0,0,0,.1);
				&.last {
					border-right: 1px solid rgba(0,0,0,.1);
				}
				&:hover {
					color: #109BA8;
					cursor: pointer;
				}
			}
		}
	}
}

body.page-1 .pages #mobilenav-p1,
body.page-2 .pages #mobilenav-p2,
body.page-3 .pages #mobilenav-p3 {
	color: #6CB4C1 !important;
}

.chapter {
	background: #FFF;
	padding: 5% 0;
	h3 {
		color: #333;
		font-size: 36px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-bottom: 6px;
	}
	span {
		margin-top: 10px;
		color: rgba(0,0,0,.35);
		font-size: 20px;
		line-height: 1.35em;
	}
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.inner-wrap {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


.print-button {
	display: none;
}
body.print-mode .print-button {
	display: none;
	&.disable {
		display: block;
	}
}

.footer {
	background: #FFF;
	color: #666;
	height: 100px;
	line-height: 100px;
	display: none;
	h3 {
		font-family: "Lato";
		-webkit-font-smoothing: antialiased;
	}
}

.mobile-section {
	width: 100%;
	padding: 120px 0 100px;
	position: relative;
	&:before {
		top:  100%;
		left: 0;
		width: 100%;
		height: 50px;
		background-size: 50px 100%;
		position: absolute;
		content: '';
		pointer-events: none;
		z-index: 10;
	}
}
.textbox {
	width: 50%;
	float: left;
}
.imagery {
	width: 40%;
	position: relative;
	float: right;
}
.imagery img {
	margin: 20px 20px 40px;
}


// QUIZ
.mobile-section {
	.quiz {
		padding: 0 !important;
	}
	.quiz h1 {
		text-align: left !important;
		font-weight: bold !important;
	}
	.quiz-box, .quiz .container {
		width: 960px !important;
	}
	.quiz-start {
		width: 660px !important;
	}
}

// UPPDRAG
.mobile-section.uppdrag {
	h1 {
		text-align: left !important;
		font-weight: bold !important;
	}
	.slideshow #slide1:checked ~ .slides .inner {
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0);
	}
	.slideshow #slide2:checked ~ .slides .inner {
	  -webkit-transform: translateX(-960px);
	  -ms-transform:  translateX(-960px);
	  transform:  translateX(-960px);
	}
	.slideshow #slide3:checked ~ .slides .inner {
	  -webkit-transform: translateX(-1920px);
	  -ms-transform: translateX(-1920px);
	  transform: translateX(-1920px);
	}
	label {
		width: 36px !important;
		height: 36px !important;
		margin: 0 10px !important;
		border-radius: 18px !important;
		&:before {
			display: block;
			color: #FFF;
			line-height: 31px;
			text-indent: -1px;
			text-align: center;
		}
		&[for="slide1"]:before {
			content: '1';
		}
		&[for="slide2"]:before {
			content: '2';
		}
		&[for="slide3"]:before {
			content: '3';
		}
	}

	.slideshow #slide1:checked ~ label[for="slide1"],
	.slideshow #slide2:checked ~ label[for="slide2"],
	.slideshow #slide3:checked ~ label[for="slide3"] {
	  background: #F8F8F8;
	  &:before {
	  	color: #666;
	  }
	}

	.slideshow .slides {
		margin-bottom: 22px;
	}
	h2 {
		margin-top: 0;
	}
	p {
		font-size: 18px;
	}
	.mission-container {
		width: 960px !important;
	}
	.mission {
		padding: 0 !important;
	}
	.slideshow {
		max-width: 960px !important;
	}
	article {
		width: 960px !important;
	}
	.nav {
		display: none;
	}
}


.section_1-1 {
	background: #6CB4C1;
	color: #FFF;
	h4 {
		-webkit-font-smoothing: antialiased;
		line-height: 1.4em;
	}
	&:before {
		background-image: linear-gradient(135deg, #6CB4C1 25%, transparent 25%), linear-gradient(225deg, #6CB4C1 25%, transparent 25%);
	}
}


.section_1-2 {
	background: #62B987;
	&:before {
		background-image: linear-gradient(135deg, #62B987 25%, transparent 25%), linear-gradient(225deg, #62B987 25%, transparent 25%);
	}
}

.section_1-3 {
	padding-top: 40px;
	background: #F2DABE;
	p {
		font-size: 18px;
	}
	.container {
		width: 960px !important;
	}
	.intro {
		left: 0 !important;
	}
	.recipes {
		padding: 0 !important;
		.recipe-list {
			top: 60px;
		}
	}
	.book-cover-open,
	.book-right-bg,
	.book-cover {
		width: 480px !important;
	}
	&:before {
		background-image: linear-gradient(135deg, #F2DABE 25%, transparent 25%), linear-gradient(225deg, #F2DABE 25%, transparent 25%);
	}
}

.section_1-4 {
	background: #E3648A;
	color: #FFF;
	&:before {
		background-image: linear-gradient(135deg, #E3648A 25%, transparent 25%), linear-gradient(225deg, #E3648A 25%, transparent 25%);
	}
	.video-clearfix {
		width: 100%;
		overflow: hidden;
	}
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-top: 60px;
		border: 1px solid rgba(255,255,255,.1);
	}
	.cinema-mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.section_1-4 .lead-2,
.section_1-4 .imagery-2 {
	margin-top: 80px;
}
.section_1-4 .img-cheese {
	transform: rotate(45deg);
	-webkit-transform: rotate(55deg);
	margin-left: 60px;
	margin-bottom: 60px;
}

.section_1-5 {
	background: #36AF96;
	color: #FFF;
	&:before {
		background-image: linear-gradient(135deg, #36AF96 25%, transparent 25%), linear-gradient(225deg, #36AF96 25%, transparent 25%);
	}
	.img-fridge {
		margin-bottom: 50px;
	}
}

.section_1-6 {
	background: #9FCEC2;
	.quiz-slide-0 .item-8 {
		left: 410px;
	}
	.quiz-slide-2 .item-2 {
		left: 222px;
	}
	.quiz-slide-2 .item-4 {
		left: 345px;
	}
	.quiz-slide-2 .item-5 {
		left: 440px;
	}
}

.section_2-1 {
	background: #62B987;
	color: #FFF;
	&:before {
		background-image: linear-gradient(135deg, #62B987 25%, transparent 25%), linear-gradient(225deg, #62B987 25%, transparent 25%);
	}
	.imagery img {
		margin-bottom: 60px;
	}
	.last-img {
		margin-top: -20px;
		margin-bottom: 0 !important;
	}
	.zoom-bubble {
		position: relative;
		width: 150px;
		height: 150px;
		background: #E3E3E3;
		border-radius: 75px;
		z-index: 10;
		overflow: hidden;
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		float: left;
		margin-bottom: 40px;
	}
	.zoom-bubble-2 {
		margin-left: 40px;
		img {
			max-width: 105%;
		}
	}
	.zoom-bubble img {
		position: absolute;
		margin: 0;
	}

	.zoom-bubble .screw {
		top: 20px;
		left: -10px;
		-webkit-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		transform: rotate(-20deg);
		z-index: 1;
		max-width: none;
	}

	.zoom-bubble .banana {
		top: 0;
		left: -8px;
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.zoom-bubble .apple {
		top: 0;
		left: 70px;
	}
	.zoom-bubble .fish {
		top: 50px;
		left: 0px;
		-webkit-transform: rotate(220deg);
		-ms-transform: rotate(220deg);
		transform: rotate(220deg);
	}

	.zoom-bubble .sludge {
		position: absolute;
		border-radius: 100%;
	}
	.zoom-bubble .sludge-1 {
		left: 48px;
		bottom: 20px;
		background: #4B3B32;
		width: 20px;
		height: 20px;
	}
	.zoom-bubble .sludge-2 {
		left: 78px;
		bottom: 20px;
		background: #C89D64;
		width: 14px;
		height: 14px;
	}
	.zoom-bubble .sludge-3 {
		left: 98px;
		bottom: 32px;
		background: #634E42;
		width: 16px;
		height: 16px;
	}
	.zoom-bubble-2 .crunch {
		top: 40px;
		z-index: 1;
	}
	.zoom-bubble-2 .crunch-slurry {
		position: absolute;
		top: 90px;
		width: 200px;
		height: 100px;
		background: #967954;
	}
	.zoom-bubble-2 .sludge {
		top: 114px;
		left: 66px;
		background: #634E42;
		width: 16px;
		height: 16px;
	}
	.zoom-bubble-2 .sludge-5 {
		top: 112px;
		left: 94px;
		background: #634E42;
		width: 13px;
		height: 13px;
	}
	.zoom-bubble-2 .sludge-6 {
		top: 111px;
		left: 44px;
		background: #634E42;
		width: 10px;
		height: 10px;
	}

	.offsprings {
		float: left;
		width: 100%;
		margin-top: 60px;
		p {
			font-size: 14px;
		}
		.third {
			width: 300px;
			float: left;
			&.third-mid {
				margin: 0 30px;
			}
		}
	}

}

.section_2-2 {
	background: #4F79A1;
	&:before {
		background-image: linear-gradient(135deg, #4F79A1 25%, transparent 25%), linear-gradient(225deg, #4F79A1 25%, transparent 25%);
	}
	.mission-1 p {
		width: 280px;
	}
	.mission-2 p {
		width: 560px;
	}
	.mission-2 .scale {
		right: 50px;
		width: 200px;
	}
	.mission-2 .clock {
		right: 60px;
	}
	.mission-2 .temp {
		right: 180px;
	}

	.mission-3 h2 {
		margin-top: 60px;
	}
	.mission-3 .micro {
		right: 100px;
		top: 220px;
	}
}

.section_2-3 {
	background: #F4F3E2;
	color: #979681 !important;
	&:before {
		background-image: linear-gradient(135deg, #F4F3E2 25%, transparent 25%), linear-gradient(225deg, #F4F3E2 25%, transparent 25%);
	}
	.fact-box {
		width: 46%;
		float: left;
		margin-right: 4%;
		&.fact-box-right {
			float: right;
			margin: 0 0 0 4%;
		}
	}
	.fact-box-big {
		width: 100%;
		float: left;
		&.lead {
			margin-top: 30px;
			padding-top: 30px;
			
			h2 {
				font-size: 36px;
				margin-top: 0;
			}
			p {
				margin-top: 2px;
				font-size: 18px;
				width: 90%;
			}
		}
		&.lead-2 {
			border-top: 1px dashed #C5C5B1;
		}
	}
	.fact-box-35,
	.fact-box-55 {
		p {
			margin-top: 30px !important;
		}
		h2 {
			margin-top: 6px;
		}
	}
	.textbox > p,
	.textbox .fact-box p,
	.textbox .fact-box-big p {
		margin: 0;
	}

	.imagery .bag {
		margin-bottom: 10px;
		&.last {
			margin-bottom: 60px;
		}
	}
	.car {
		margin: 20px 10px 0 0;
		&.car-2 {
			top: -10px;
			position: relative;
		}
		&.car-3 {
			top: 8px;
			position: relative;
		}
		&.car-5 {
			top: -20px;
			position: relative;
		}
	}
}

.section_2-4 {
	background: #F8BCA9;
}

.section_2-5 {
	background: #4D457F;
	padding: 0;
	&:before {
		display: none;
	}
	p {
		font-size: 18px;
	}
}




.section_3-1 {
	background: #62B987;
	color: #FFF;
	&:before {
		background-image: linear-gradient(135deg, #62B987 25%, transparent 25%), linear-gradient(225deg, #62B987 25%, transparent 25%);
	}
	.imagery img {
		margin-bottom: 60px;
	}
	.store {
		position: relative;
		img {
			position: relative;
			z-index: 1;
		}
		.bg {
			position: absolute;
			top: 70px;
			left: 30px;
			right: 50px;
			bottom: 70px;
			background: #DBECF9;
		}
	}
	.house {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.section_3-2 {
	background: #E55C46;
	&:before {
		background-image: linear-gradient(135deg, #E55C46 25%, transparent 25%), linear-gradient(225deg, #E55C46 25%, transparent 25%);
	}
}

.section_3-3 {
	background: #9FCDC3;
	&:before {
		background-image: linear-gradient(135deg, #9FCDC3 25%, transparent 25%), linear-gradient(225deg, #9FCDC3 25%, transparent 25%);
	}
}

.section_3-4 {
	background: #F2DABE;
	.imagery img {
		margin-bottom: 60px;
	}
}

.section_1-6,
.section_3-4 {
	&:before {
		display: none;
	}
}

h2 {
	font-size: 28px;
	margin-top: 30px;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.text-smaller {
		font-size: 14px;
		margin-top: -10px;
	}
}
.textlead p {
	font-size: 18px;
}

@media screen and (max-width: 1000px) { // 768
	.pager {
		display: none;
	}

	.mobile-imagery {
		display: block;
		margin: 40px 0;
		float: none;
		width: 100%;
		.left {
			margin-left: 20px;
		}
		.left-2x {
			margin-left: 40px;
		}
		.zoom-bubble,
		.zoom-bubble-2 {
			margin: 0 auto 10px;
			float: none;
		}
		&.img-cars,
		&.img-buns,
		&.img-huts {
			margin: 20px 0 0;
		}
	}

	.mobile-intro {
		position: relative;
		width: 100%;
		overflow: hidden;
		.inner {
			padding: 60px 0 40px;
			text-align: center;
			max-width: 260px;
			margin: 0 auto;
			img {
				margin: 40px 0;
			}
		}
	}

	.mobile-nav {
		height: 50px;
		.wrapper {
			width: 100%;
			margin: 0 auto;
			.logo {
				width: 100px;
				border-left: none;
				border-right: 1px solid rgba(0,0,0,.1);
			}
			.pages {
				width: calc(100% - 100px);
				div {
					border: none;
					&.mid {
						border-left: 1px solid rgba(0,0,0,.1);
						border-right: 1px solid rgba(0,0,0,.1);
					}
				}
			}
		}
	}
	.mobile-section {
		padding: 80px 10% 40px;
		&.section_1-1,
		&.section_2-1,
		&.section_3-1 {
			padding-top: 60px;
		}
	}
	.chapter {
		padding: 10%;
		h3 {
			font-size: 32px;
		}
		span {
			line-height: 18px;
			font-size: 14px;
		}
		.part {
			display: block;
			font-size: 18px;
			margin-bottom: 6px;
		}
		.dash {
			display: none;
		}
		
	}

	.section_1-2,
	.section_1-3,
	.section_1-6,
	.section_2-2,
	.section_2-4,
	.section_2-5,
	.section_3-2,
	.section_3-4 {
		display: none;
	}

	.section_1-5,
	.section_2-3,
	.section_3-3 {
		&:before {
			display: none;
		}
	}


	.textbox {
		width: 100%;
		float: none;
	}
	.imagery {
		display: none;
	}


	.lead-2 {
		margin-top: 40px !important;
	}

	h1 {
		font-size: 32px;
	}
	h2 {
	font-size: 24px;
	margin-top: 30px;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&.text-smaller {
			margin-top: 16px;
		}
	}
	.textlead p {
		font-size: 16px;
		line-height: 22px;
	}

	.section_2-1 {
		.offsprings {
			margin-top: 10px;
			p {
				font-size: 12px;
				line-height: 18px;
			}
			.third {
				width: 100%;
				float: left;
				&.third-mid {
					margin: 20px 0;
				}
			}
		}
	}

	.section_2-3 {
		.fact-box {
			width: 100%;
			margin-right: 0;
			&.fact-box-right {
				margin: 0;
			}
		}
		.fact-box-big {
			width: 100%;
			float: left;
			&.lead {
				margin-top: 0;
				
				h2 {
					font-size: 32px;
					margin-top: 0;
				}
				p {
					margin-top: 2px;
					font-size: 16px;
					width: 90%;
				}
			}
			&.lead-2 {
				border-top: 1px dashed #C5C5B1;
			}
		}
		.fact-box-35,
		.fact-box-55 {
			p {
				margin-top: 30px !important;
			}
			h2 {
				margin-top: 6px;
			}
		}
	}


}

@media print {
	.mobile-intro,
	.mobile-nav,
	.pager,
	.imagery,
	.section_1-2,
	.section_1-3,
	.section_1-6,
	.section_2-2,
	.section_2-4,
	.section_2-5,
	.section_3-2,
	.section_3-4,
	.video-wrapper {
		display: none;
	}
	.mobile-imagery {
		margin: 50px 0;
		display: none;
		img.left {
			margin-left: 40px;
		}
		img.left-2x {
			margin-left: 80px;
		}
	}
	.chapter {
		padding: 80px 0 0;
		h3 {
			font-size: 30px;
			.part,
			.dash {
				font-size: 22px;
			}
		}
		span {
			font-size: 16px;
		}
	}
	.inner-wrap {
		max-width: 100% !important;
		width: 80% !important;
	}
	.textbox,
	.offsprings {
		width: 100% !important;
		border-bottom: 1px dashed #CCC;
		padding-bottom: 40px;
	}
	
	.mobile-section {
		background: #FFF;
		padding: 40px 0 20px;
		&:before {
			display: none;
		}
		&.section_1-1 h4 {
			margin-bottom: 20px;
			font-size: 12px;
		}
		&.section_1-5 .textbox,
		&.section_2-3 .textbox,
		&.section_3-3 .textbox {
			border: none;
		}
		&.section_2-1 {
			h3 {
				font-weight: normal !important;
			}
			.third {
				width: 30% !important;
				&.third-mid {
					margin: 0 5% !important;
				}
			}
			.offsprings p {
				font-size: 12px !important; 
			}
		}
		&.section_2-3 {
			.lead {
				h2 {
					font-size: 24px !important;
				}
				p {
					font-size: 14px;
				}
			}
		}
		h1, h2, h3, h4 {
			color: #333;
		}
		h1 {
			font-size: 26px;
		}
		h2 {
			font-size: 20px;
		}
		p {
			color: #666;
			font-size: 12px;
			line-height: 1.5em;
		}
	}
}