p {
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}
h3 {
	font-family: 'Bubbler One', Avenir;
}
h2 {
	font-family: 'Bubbler One', Avenir;
	font-weight: normal;
	font-size: 34px;
	-webkit-font-smoothing: subpixel-antialiased !important;;
}
h1 {
	font-family: 'Bubbler One', Avenir;
	font-weight: normal;
	font-size: 44px;
	-webkit-font-smoothing: subpixel-antialiased !important;
}